/**/
/* line 5, ../../../app/assets/stylesheets/layout/body.scss */
.body {
  margin: 0px auto;
  padding: 15px 0px 0px 0px;
  height: auto;
  width: 100%;
  background: url("bg-content.png") repeat-x top center transparent;
  overflow: hidden;
}
/* line 14, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-container {
  margin: 0px auto;
  height: 604px;
  width: 100%;
}
/* line 20, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-container .rim-buttons {
  margin: -604px auto;
  width: 980px;
  height: 604px;
  position: relative;
  display: block;
  z-index: 20;
}
/* line 30, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-container .rim-buttons .arrow {
  width: 107px;
  height: 176px;
  background: url("button-rim-arrows.png") no-repeat top left transparent;
}
/* line 36, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-container .rim-buttons .arrow.left {
  width: 107px;
  height: 176px;
  position: relative;
  left: -96px;
  top: 300px;
  float: left;
  background-position: top left;
}
/* line 47, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-container .rim-buttons .arrow.right {
  width: 107px;
  height: 176px;
  position: relative;
  right: -96px;
  top: 300px;
  float: right;
  background-position: top right;
}
/* line 58, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-container .rim-buttons .arrow a {
  width: 107px;
  height: 176px;
  float: left;
}
/* line 68, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-container .rims-large {
  margin: 0px auto;
  width: 980px;
  height: 604px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  display: block;
}
/* line 78, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-container .rims-large ul {
  width: 980px;
  height: 604px;
  float: left;
}
/* line 84, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-container .rims-large ul li {
  margin: 0px 0px 0px -25px;
  width: 980px;
  height: 604px;
  float: left;
  list-style-type: none;
}
/* line 96, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select {
  margin: 0px auto;
  height: auto;
  width: 100%;
  background: url("bg-rim-select.png") repeat-x top left transparent;
}
/* line 103, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select .rim-reflection {
  margin: 0px auto;
  width: 980px;
  height: 44px;
  background: url("bg-rim-reflection.png") no-repeat top left transparent;
  display: block;
}
/* line 111, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select .rim-reflection .reflection {
  height: 44px;
  width: 98px;
  background: url("img-arrow-reflection.png") no-repeat top left transparent;
}
/* line 116, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select .rim-reflection .reflection.left {
  margin: 0px 0px 0px 0px;
  background-position: top left;
  position: relative;
  left: -98px;
  float: left;
}
/* line 124, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select .rim-reflection .reflection.right {
  margin: 0px 0px 0px 0px;
  background-position: top right;
  position: relative;
  right: -98px;
  float: right;
}
/* line 134, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select .rim-reflection .buttons {
  margin: 0px auto;
  width: 780px;
  height: inherit;
  float: left;
}
/* line 141, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select .rim-reflection .buttons ul {
  margin: 0px auto;
  width: auto;
  width: 315px;
  height: inherit;
}
/* line 148, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select .rim-reflection .buttons ul li {
  height: auto;
  width: auto;
  list-style: none;
}
/* line 153, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select .rim-reflection .buttons ul li a {
  height: 44px;
  width: 45px;
  background: url("button-rim-select.png") no-repeat bottom center transparent;
  float: left;
  text-indent: -9000px;
}
/* line 160, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select .rim-reflection .buttons ul li a.active {
  height: 44px;
  width: 45px;
  background-position: top center;
}
/* line 166, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select .rim-reflection .buttons ul li a:hover {
  height: 44px;
  width: 45px;
  background-position: top center;
}
/* line 172, ../../../app/assets/stylesheets/layout/body.scss */
.body .rim-select .rim-reflection .buttons ul li a:active {
  height: 44px;
  width: 45px;
  background-position: top center;
}
/* line 187, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container.home {
  background: url("bg-home-content.png") no-repeat top center transparent;
}
/* line 192, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container.interior {
  background: url("bg-interior-content.png") no-repeat top center transparent;
}
/* line 197, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container {
  margin: 0px auto;
  padding: 0px 0px 30px 0px;
  height: auto;
  width: 100%;
}
/* line 204, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content {
  margin: 0px auto;
  width: 980px;
  height: 420px;
}
/* line 210, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .left-column {
  margin: 0px 0px 0px -30px;
  width: 305px;
  height: auto;
  position: relative;
  float: left;
}
/* line 218, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .left-column .rim-preview {
  margin: 0px;
  height: 303px;
  width: 313px;
  background: url("img-rim-preview.png") no-repeat top left transparent;
}
/* line 226, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .left-column .try-it {
  margin: -60px 0px 0px 75px;
  padding: 54px 0px 0px 0px;
  width: 212px;
  height: 205px;
  background: url("button-tryitout.png") no-repeat -120px -130px transparent;
  position: absolute;
  z-index: 1;
}
/* line 236, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .left-column .try-it a {
  margin: 0px 0px 0px 18px;
  width: 141px;
  height: 37px;
  display: block;
  text-indent: -9000px;
}
/* line 247, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .right-column {
  width: 705px;
  height: auto;
  position: relative;
  float: right;
}
/* line 254, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .right-column .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 260, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .right-column .title-container .title {
  margin: 20px 0px 0px -16px;
  height: 90px;
  width: 387px;
  float: left;
  text-indent: -9000px;
  background: url("title-dubleds.png") no-repeat top left transparent;
}
/* line 270, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .right-column .title-container .usb-built-in {
  margin: 45px 0px 0px 0px;
  height: 38px;
  width: 133px;
  background: url("img-usb-builtin.png") no-repeat top left transparent;
  float: right;
}
/* line 280, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .right-column .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  font-size: 12px;
  line-height: 25px;
  color: #fafafa;
  letter-spacing: 1.0;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
/* line 292, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .right-column .text-container h4 {
  font-family: EurostileBld, Helvetica, Arial, sans-serif;
  font-size: 22px;
  padding: 10px 0px 20px 0px;
  font-weight: 400;
}
/* line 300, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .right-column .text-container p {
  font-size: 15px;
}
/* line 305, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .right-column .text-container ul {
  margin: 20px 0px 0px -7px;
  width: auto;
  height: auto;
  float: left;
}
/* line 312, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .right-column .text-container ul li {
  width: auto;
  height: 25px;
  background: url("img-bullet-point.png") no-repeat 0px 0px transparent;
  list-style-type: none;
  margin: 0;
  padding: 2px 0px 0px 27px;
  vertical-align: middle;
}
/* line 324, ../../../app/assets/stylesheets/layout/body.scss */
.body .content-container .content .right-column .text-container ul + ul {
  padding: 0px 0px 0px 20px;
}
