/* Include Mixins & CSS3 Stuff */
/* line 6, ../../../app/assets/stylesheets/layout/footer.scss */
footer {
  height: 67px;
  width: 100%;
  background-color: transparent;
  background-image: url("/assets/bg-footer-bar.png");
  background-position: top left;
  background-repeat: repeat-x;
}
/* line 12, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container {
  margin: 0px auto;
  height: 67px;
  width: 980px;
  position: relative;
  z-index: 20;
}
/* line 20, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .left-column {
  width: auto;
  height: auto;
  float: left;
}
/* line 26, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .left-column .logo {
  margin: 23px 0px 0px 0px;
  height: 15px;
  width: 102px;
  float: left;
  background-color: transparent;
  background-image: url("/assets/img-footer-logo.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 35, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .left-column .email-updates {
  margin: 13px 0px 0px 20px;
  width: auto;
  height: auto;
  float: left;
}
/* line 42, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .left-column .email-updates input[type=text] {
  padding: 3px 0px 0px 8px;
  height: 31px;
  width: 250px;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  background-color: transparent;
  background-image: url("/assets/input-email.png");
  background-position: 1px 3px;
  background-repeat: no-repeat;
  border: none;
  color: #7f7f7f;
}
/* line 56, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .left-column .email-updates input[type=submit] {
  margin: 3px 0px 0px -7px;
  height: 31px;
  width: 32px;
  text-indent: -9000px;
  background-color: transparent;
  background-image: url("/assets/button-submit.png");
  background-position: top left;
  background-repeat: no-repeat;
  border: none;
}
/* line 68, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column {
  width: auto;
  height: auto;
  float: right;
}
/* line 74, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column .order {
  margin: 10px 0px 0px 0px;
  width: 106px;
  height: 43px;
  float: left;
}
/* line 81, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column .order a {
  width: 106px;
  height: 43px;
  float: left;
  text-indent: -9000px;
  background-color: transparent;
  background-image: url("/assets/button-order.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 89, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column .order a:hover {
  background-position: bottom left;
}
/* line 96, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column ul {
  margin: 16px 0px 0px 10px;
  width: auto;
  height: auto;
  float: right;
}
/* line 103, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column ul li {
  width: 31px;
  height: 31px;
  float: left;
  list-style-type: none;
}
/* line 110, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column ul li a {
  width: 31px;
  height: 31px;
  text-indent: -9000px;
  float: left;
}
/* line 117, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column ul li a.facebook {
  background-color: transparent;
  background-image: url("/assets/img-sharing-facebook.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 122, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column ul li a.twitter {
  background-color: transparent;
  background-image: url("/assets/img-sharing-twitter.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 127, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column ul li a.flickr {
  background-color: transparent;
  background-image: url("/assets/img-sharing-flickr.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 132, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column ul li a.linkedin {
  background-color: transparent;
  background-image: url("/assets/img-sharing-linkedin.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 137, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column ul li a:active {
  background-position: bottom center;
}
/* line 142, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column ul li a:hover {
  background-position: bottom center;
}
/* line 147, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column ul li a.active {
  background-position: bottom center;
}
/* line 154, ../../../app/assets/stylesheets/layout/footer.scss */
footer .footer-container .right-column ul li + li {
  padding: 0px 0px 0px 10px;
}
/* line 162, ../../../app/assets/stylesheets/layout/footer.scss */
footer .spacer {
  height: 100px;
  width: 100%;
  background-color: transparent;
  background-image: url("/assets/bg-footer.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 168, ../../../app/assets/stylesheets/layout/footer.scss */
footer .spacer .copyright {
  margin: 0px auto;
  padding: 10px 0px 0px 0px;
  height: 67px;
  width: 980px;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #777777;
}
/* line 179, ../../../app/assets/stylesheets/layout/footer.scss */
footer .spacer .copyright .links {
  margin: 0px 0px 0px 10px;
  width: auto;
  display: inline-block;
}
/* line 184, ../../../app/assets/stylesheets/layout/footer.scss */
footer .spacer .copyright .links a + a {
  margin-left: 10px;
}
/* line 188, ../../../app/assets/stylesheets/layout/footer.scss */
footer .spacer .copyright .links a {
  font-size: 12px;
}
