/* Include Mixins & CSS3 Stuff */
/* line 6, ../../../app/assets/stylesheets/layout/header.scss */
header {
  background-position: top center;
  margin: 0px auto;
  height: 400px;
  width: 100%;
  display: inline-block;
}
/* line 17, ../../../app/assets/stylesheets/layout/header.scss */
header .fade.active {
  color: #59B7FF;
}
/* line 22, ../../../app/assets/stylesheets/layout/header.scss */
header .logo {
  margin: 90px auto;
  width: 708px;
  height: 339px;
  background-color: transparent;
  background-image: url("/assets/dub-logo-home.png");
  background-position: top left;
  background-repeat: no-repeat;
}
