/* line 2, ../../../app/assets/stylesheets/layout/notification.scss */
.notification {
  margin: 0px auto;
  width: 980px;
  height: auto;
  display: block;
  background-color: #59B7FF;
  border: 2px solid #00A9ED;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  z-index: 9999;
}
/* line 33, ../../../app/assets/stylesheets/layout/notification.scss */
.notification .text {
  width: auto;
  height: auto;
  padding: 20px;
  text-align: center;
  display: block;
  color: #fafafa;
  font-size: 15px;
  text-transform: uppercase;
}
