%section.body
  %section.content-container.interior
    .content-technology
      .title-container
        .title TECHNOLOGY
      .text-container
        %h4 Brains and Beauty.
      .technology-content
        .choices
          %ul
            %li
              %a.rim1.active{:href => "#"}
            %li
              %a.rim2{:href => "#"}
            %li
              %a.rim3{:href => "#"}
            %li
              %a.rim4{:href => "#"}
            %li
              %a.rim5{:href => "#"}
            %li
              %a.rim6{:href => "#"}
            %li
              %a.rim7{:href => "#"}
        .overlay
        .rim
