<section class="body">
    <section class="content-container interior">
        <div class="content-technology">
            <div class="title-container">
                <div class="title">TECHNOLOGY</div>
            </div>
            <div class="text-container">
                <h4>Brains and Beauty.</h4>
            </div>
            <div class="technology-content">
                <div class="choices">
                    <ul>
                        <li><a href="#" class="rim1 active"></a></li>
                        <li><a href="#" class="rim2"></a></li>
                        <li><a href="#" class="rim3"></a></li>
                        <li><a href="#" class="rim4"></a></li>
                        <li><a href="#" class="rim5"></a></li>
                        <li><a href="#" class="rim6"></a></li>
                        <li><a href="#" class="rim7"></a></li>
                    </ul>
                </div>
                <div class="overlay"></div>
                <div class="rim"></div>
            </div>
        </div>
    </section>
</section>