/* line 9, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact {
  margin: 0px auto;
  width: 980px;
  height: auto;
}
/* line 15, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 21, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .title-container .title {
  margin: 20px 0px 0px -16px;
  height: 73px;
  width: 261px;
  float: left;
  text-indent: -9000px;
  background-color: transparent;
  background-image: url("/assets/title-contact.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 32, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  color: #fafafa;
}
/* line 38, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .text-container h4 {
  font-size: 22px;
  padding: 0px 0px 10px 0px;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 46, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .text-container p {
  font-size: 15px;
}
/* line 52, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form {
  clear: both;
  padding: 30px 0px 0px 0px;
}
/* line 57, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form .left-column {
  width: 422px;
  height: auto;
  float: left;
}
/* line 63, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form .left-column .field {
  width: 420px;
  height: auto;
  border: none;
  outline: none;
  padding: 0px 0px 15px 0px;
}
/* line 72, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form .left-column .field-select {
  width: 420px;
  height: auto;
  border: none;
  outline: none;
  padding: 0px 0px 15px 0px;
}
/* line 82, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form .right-column {
  width: 531px;
  height: auto;
  float: right;
}
/* line 88, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form .right-column .field {
  width: 530px;
  height: auto;
  border: none;
  outline: none;
  z-index: 10;
  position: relative;
}
/* line 98, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form .right-column .send-button {
  margin: -40px 0px 0px 435px;
  padding: 54px 0px 0px 0px;
  width: 304px;
  height: 293px;
  background-color: transparent;
  background-image: url("/assets/button-send.png");
  background-position: -95px -70px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}
/* line 108, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form .right-column .send-button input {
  margin: 0px 0px 0px 18px;
  width: 81px;
  height: 37px;
  display: block;
  text-indent: -9000px;
}
/* line 120, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form label {
  font-size: 16px;
  color: #fafafa;
  display: block;
  font-weight: 400;
  padding: 0px 0px 5px 0px;
}
/* line 129, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form input {
  width: 400px;
  height: 42px;
  border: none;
  outline: none;
  color: #7f7f7f;
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
  background-image: url("/assets/bg-contact-field-single.png");
  background-position: top left;
  background-repeat: no-repeat;
  padding: 2px 10px 0px 10px;
}
/* line 142, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form select {
  width: 420px;
  height: 42px;
  border: none;
  outline: none;
  color: #7f7f7f;
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
  background-image: url("/assets/bg-contact-field-select.png");
  background-position: top left;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  overflow: hidden;
  padding: 2px 10px 0px 10px;
}
/* line 158, ../../../app/assets/stylesheets/sections/contact.scss */
.content-contact .contact-form textarea {
  width: 505px;
  height: 204px;
  border: none;
  outline: none;
  color: #7f7f7f;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  background-color: transparent;
  background-image: url("/assets/bg-contact-field-multi.png");
  background-position: top left;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 15px;
  resize: none;
  overflow: hidden;
}
