/* line 9, ../../../app/assets/stylesheets/sections/order.scss */
.content-order {
  margin: 0px auto;
  width: 980px;
  height: auto;
}
/* line 15, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .left-column {
  width: 350px;
  height: auto;
  float: left;
  margin: 0px 0px 0px 0px;
}
/* line 22, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .left-column .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 28, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .left-column .title-container .title {
  margin: 20px 0px 0px -16px;
  height: 73px;
  width: 357px;
  float: left;
  text-indent: -9000px;
  background-color: transparent;
  background-image: url("/assets/title-order.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 39, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .left-column .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  color: #fafafa;
}
/* line 45, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .left-column .text-container h4 {
  font-size: 22px;
  padding: 0px 0px 10px 0px;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 53, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .left-column .text-container p {
  font-size: 15px;
}
/* line 59, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .left-column .rim {
  margin: -65px 0px 0px -40px;
  widht: 418px;
  height: 469px;
}
/* line 67, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column {
  margin: 35px 0px 0px 0px;
  width: 585px;
  height: auto;
  float: right;
}
/* line 74, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .tabs {
  width: 500px;
  height: auto;
  float: left;
}
/* line 80, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .tabs ul {
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
}
/* line 87, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .tabs ul li + li {
  padding-left: 8px;
}
/* line 92, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .tabs ul li {
  width: auto;
  height: auto;
  list-style-type: none;
  float: left;
}
/* line 99, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .tabs ul li a {
  text-indent: -9000px;
}
/* line 103, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .tabs ul li a.sizing {
  width: 111px;
  height: 47px;
  float: left;
  background-color: transparent;
  background-image: url("/assets/img-tab-sizing.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 111, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .tabs ul li a.style {
  width: 106px;
  height: 47px;
  float: left;
  background-color: transparent;
  background-image: url("/assets/img-tab-style.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 123, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .selection {
  padding: 10px 0px 0px 0px;
  width: 631px;
  height: auto;
  display: block;
  float: left;
  background-color: transparent;
  background-image: url("/assets/bg-order-tabs.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 132, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .selection .row {
  margin: 15px 0px 0px 0px;
  width: 583px;
  height: 57px;
  background-color: transparent;
  background-image: url("/assets/bg-order-row.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 138, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .selection .row table {
  margin: 0px;
  padding: 0px;
  width: 583px;
  height: 57px;
}
/* line 147, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .selection .row table tr td {
  padding: 18px;
  font-size: 18px;
  color: #868686;
  text-align: left;
}
/* line 154, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .selection .row table tr td.title {
  text-transform: uppercase;
  font-style: oblique;
  color: #c0c0c0;
  width: 80px;
}
/* line 167, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .checkout {
  margin: 50px 0px 0px 20px;
  width: auto;
  height: auto;
  float: left;
}
/* line 174, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .checkout .left-column {
  width: 400px;
  height: auto;
  float: left;
}
/* line 181, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .checkout .right-column {
  width: auto;
  height: auto;
  float: right;
}
/* line 187, ../../../app/assets/stylesheets/sections/order.scss */
.content-order .right-column .checkout .right-column .authorize-net {
  width: 116px;
  height: 116px;
  float: left;
}
