/* line 9, ../../../app/assets/stylesheets/sections/privacies.scss */
.content-privacies {
  margin: 0px auto;
  width: 980px;
  height: auto;
}
/* line 15, ../../../app/assets/stylesheets/sections/privacies.scss */
.content-privacies .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 21, ../../../app/assets/stylesheets/sections/privacies.scss */
.content-privacies .title-container .title {
  margin: 20px 0px 0px -16px;
}
/* line 27, ../../../app/assets/stylesheets/sections/privacies.scss */
.content-privacies .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  color: #fafafa;
  margin: 0px 0px 20px 0px;
}
/* line 34, ../../../app/assets/stylesheets/sections/privacies.scss */
.content-privacies .text-container h4 {
  font-size: 22px;
  padding: 0px 0px 10px 0px;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 43, ../../../app/assets/stylesheets/sections/privacies.scss */
.content-privacies .media-content {
  clear: both;
  padding: 17px 0px 0px 0px;
}
/* line 48, ../../../app/assets/stylesheets/sections/privacies.scss */
.content-privacies .media-content .left-column {
  width: 745px;
  height: auto;
  float: left;
}
/* line 54, ../../../app/assets/stylesheets/sections/privacies.scss */
.content-privacies .media-content .left-column iframe {
  position: relative;
  float: left;
  border: 1px solid #2d2d2d;
}
/* line 62, ../../../app/assets/stylesheets/sections/privacies.scss */
.content-privacies .media-content .right-column {
  width: 221px;
  height: auto;
  float: right;
}
/* line 68, ../../../app/assets/stylesheets/sections/privacies.scss */
.content-privacies .media-content .right-column ul {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
}
/* line 75, ../../../app/assets/stylesheets/sections/privacies.scss */
.content-privacies .media-content .right-column ul li {
  padding: 0px 0px 12px 0px;
  list-style-type: none;
}
