/* line 9, ../../../app/assets/stylesheets/sections/rims.scss */
.content-rims {
  margin: 0px auto;
  width: 980px;
  height: auto;
}
/* line 15, ../../../app/assets/stylesheets/sections/rims.scss */
.content-rims .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 21, ../../../app/assets/stylesheets/sections/rims.scss */
.content-rims .title-container .title {
  margin: 20px 0px 0px -16px;
  height: 73px;
  width: 188px;
  float: left;
  text-indent: -9000px;
  background-color: transparent;
  background-image: url("/assets/title-media.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 32, ../../../app/assets/stylesheets/sections/rims.scss */
.content-rims .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  color: #fafafa;
}
/* line 38, ../../../app/assets/stylesheets/sections/rims.scss */
.content-rims .text-container h4 {
  font-size: 22px;
  padding: 0px 0px 10px 0px;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 47, ../../../app/assets/stylesheets/sections/rims.scss */
.content-rims .media-content {
  clear: both;
  padding: 17px 0px 0px 0px;
}
/* line 52, ../../../app/assets/stylesheets/sections/rims.scss */
.content-rims .media-content .left-column {
  width: 745px;
  height: auto;
  float: left;
}
/* line 58, ../../../app/assets/stylesheets/sections/rims.scss */
.content-rims .media-content .left-column iframe {
  position: relative;
  float: left;
  border: 1px solid #2d2d2d;
}
/* line 66, ../../../app/assets/stylesheets/sections/rims.scss */
.content-rims .media-content .right-column {
  width: 221px;
  height: auto;
  float: right;
}
/* line 72, ../../../app/assets/stylesheets/sections/rims.scss */
.content-rims .media-content .right-column ul {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
}
/* line 79, ../../../app/assets/stylesheets/sections/rims.scss */
.content-rims .media-content .right-column ul li {
  padding: 0px 0px 12px 0px;
  list-style-type: none;
}
