/* line 9, ../../../app/assets/stylesheets/sections/sessions.scss */
.content-sessions {
  margin: 0px auto;
  width: 980px;
  height: auto;
}
/* line 15, ../../../app/assets/stylesheets/sections/sessions.scss */
.content-sessions .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 21, ../../../app/assets/stylesheets/sections/sessions.scss */
.content-sessions .title-container .title {
  margin: 20px 0px 0px -16px;
  height: 73px;
  width: 214px;
  float: left;
  text-indent: -9000px;
  background-color: transparent;
  background-image: url("/assets/title-sign-in.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 32, ../../../app/assets/stylesheets/sections/sessions.scss */
.content-sessions .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  color: #fafafa;
}
/* line 38, ../../../app/assets/stylesheets/sections/sessions.scss */
.content-sessions .text-container h4 {
  font-size: 22px;
  padding: 0px 0px 10px 0px;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 46, ../../../app/assets/stylesheets/sections/sessions.scss */
.content-sessions .text-container p {
  font-size: 15px;
}
