/* line 9, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology {
  margin: 0px auto;
  width: 980px;
  height: auto;
}
/* line 15, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  margin: 0px auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-image: url("/assets/bg-overlay.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 29, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay .overlay-container {
  display: none;
  margin: 0px auto;
  padding: 0px;
  width: auto;
  height: auto;
  z-index: 1000;
  clear: both;
  text-shadow: 0px 1px 2px #333;
  font-size: 12px;
  line-height: 25px;
  color: #fafafa;
  letter-spacing: 1.0;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
/* line 48, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay .overlay-container .top {
  width: 724px;
  height: 159px;
  background-color: transparent;
  background-image: url("/assets/bg-tech-overlay-top.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 54, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay .overlay-container .top .close-button {
  margin: 70px 72px 0px 0px;
  width: 18px;
  height: 18px;
  float: right;
  position: relative;
}
/* line 62, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay .overlay-container .top .close-button a {
  width: inherit;
  height: inherit;
  float: left;
  background-color: transparent;
  background-image: url("/assets/button-tech-overlay-close.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 69, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay .overlay-container .top .close-button a:hover {
  background-position: bottom left;
}
/* line 76, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay .overlay-container .top .title {
  margin: -15px 0px 0px 90px;
  padding: 10px 0px 0px 0px;
  width: 550px;
  line-height: 40px;
  height: auto;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-size: 35px;
  color: #18c6fe;
  background: none;
  float: left;
  text-indent: 0px;
  text-transform: uppercase;
}
/* line 92, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay .overlay-container .top .sub-title {
  margin: 0px 0px 0px 90px;
  width: 605px;
  height: auto;
  float: left;
}
/* line 99, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay .overlay-container .top .sub-title h4 {
  font-family: EurostileBld, Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 10px 0px 15px 0px;
  font-weight: 400;
}
/* line 110, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay .overlay-container .middle {
  width: 724px;
  height: auto;
  background-color: transparent;
  background-image: url("/assets/bg-tech-overlay-middle.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: block;
}
/* line 117, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay .overlay-container .middle p {
  margin: 0px 0px 0px 90px;
  width: 560px;
  height: auto;
  font-size: 15px;
}
/* line 126, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology #tech-overlay .overlay-container .bottom {
  width: 735px;
  height: 70px;
  background-color: transparent;
  background-image: url("/assets/bg-tech-overlay-bottom.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 135, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 141, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .title-container .title {
  margin: 20px 0px 0px -16px;
  height: 73px;
  width: 357px;
  float: left;
  text-indent: -9000px;
  background-color: transparent;
  background-image: url("/assets/title-technology.png");
  background-position: top left;
  background-repeat: no-repeat;
}
/* line 152, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  color: #fafafa;
}
/* line 158, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .text-container h4 {
  font-size: 22px;
  padding: 0px 0px 10px 0px;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 166, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .text-container p {
  font-size: 15px;
}
/* line 172, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content {
  clear: both;
  padding: 17px 0px 0px 0px;
}
/* line 177, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .overlay {
  margin: -70px 0px 0px -15px;
  width: 1001px;
  height: 457px;
  background-color: transparent;
  background-image: url("/assets/img-technology-overlay.png");
  background-position: top left;
  background-repeat: no-repeat;
  z-index: 10;
  position: relative;
}
/* line 186, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .overlay .titles {
  width: 1001px;
  height: 457px;
}
/* line 191, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .overlay .titles a {
  width: auto;
  height: auto;
}
/* line 196, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .overlay .titles a.title1 {
  width: 237px;
  height: 51px;
  background-color: transparent;
  background-image: url("/assets/img-tech-title1.png");
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: 62px;
  left: 83px;
}
/* line 207, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .overlay .titles a.title2 {
  width: 294px;
  height: 51px;
  background-color: transparent;
  background-image: url("/assets/img-tech-title2.png");
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: 135px;
  left: 0px;
}
/* line 218, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .overlay .titles a.title3 {
  width: 244px;
  height: 51px;
  background-color: transparent;
  background-image: url("/assets/img-tech-title3.png");
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: 205px;
  left: 78px;
}
/* line 229, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .overlay .titles a.title4 {
  width: 215px;
  height: 51px;
  background-color: transparent;
  background-image: url("/assets/img-tech-title4.png");
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 40px;
}
/* line 240, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .overlay .titles a.title5 {
  width: 215px;
  height: 51px;
  background-color: transparent;
  background-image: url("/assets/img-tech-title5.png");
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: 90px;
  right: 0px;
}
/* line 251, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .overlay .titles a.title6 {
  width: 214px;
  height: 78px;
  background-color: transparent;
  background-image: url("/assets/img-tech-title6.png");
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: 170px;
  right: 21px;
}
/* line 262, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .overlay .titles a.title7 {
  width: 189px;
  height: 51px;
  background-color: transparent;
  background-image: url("/assets/img-tech-title7.png");
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  top: 265px;
  right: 70px;
}
/* line 273, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .overlay .titles a:hover {
  background-position: bottom left;
}
/* line 281, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .choices {
  margin: 300px 0px 0px 315px;
  width: 452px;
  height: 88px;
  background-color: transparent;
  background-image: url("/assets/bg-preview-choices.png");
  background-position: top left;
  background-repeat: no-repeat;
  z-index: 15;
  float: left;
  position: relative;
}
/* line 291, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .choices ul {
  width: auto;
  height: auto;
  margin: 15px 0px 0px 35px;
}
/* line 297, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .choices ul li + li {
  margin-left: 3px;
}
/* line 302, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .choices ul li {
  width: 48px;
  height: 61px;
  list-style-type: none;
  float: left;
}
/* line 309, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .choices ul li a {
  width: 48px;
  height: 61px;
  display: block;
  opacity: 0.4;
}
/* line 316, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .choices ul li a.rim-small {
  width: 48px;
  height: 61px;
  display: block;
}
/* line 324, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .choices ul li a.active {
  opacity: 1.0;
}
/* line 332, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .rim {
  margin: -580px 0px 0px 277px;
  width: 514px;
  height: 533px;
  z-index: 1;
  position: relative;
}
/* line 340, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .rim img {
  position: absolute;
}
/* line 345, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .rim .show {
  display: block;
}
/* line 350, ../../../app/assets/stylesheets/sections/technology.scss */
.content-technology .technology-content .rim .hide {
  display: none;
}
