.title New Newsletter Signup
.text-container
  %fieldset
    %legend Signup Information
    = render 'form'

  %fieldset
    %legend Other options
    .links
      = link_to 'Back to list', newsletters_path, :class => 'btn black'
