.title= "Thank you!"
.text-container
  %fieldset
    %legend Information
    .table
      .field
        You are now signed up to receive important DUB LED updates at the email address:
      .blue
        = "#{@newsletter.email}"