/* Include Mixins & CSS3 Stuff */
/*@import "compass/css3";*/
/* line 7, ../../../app/assets/stylesheets/global/base.scss */
body, select, input, textarea {
  background: #FFF;
  color: #33333a;
  font-family: 'Helvetica';
  font-size: 10pt;
}

/* always force a scrollbar in non-IE */
/* line 15, ../../../app/assets/stylesheets/global/base.scss */
html {
  overflow-y: scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 18, ../../../app/assets/stylesheets/global/base.scss */
a:hover, a:active {
  outline: none;
}

/* line 20, ../../../app/assets/stylesheets/global/base.scss */
a, a:active, a:visited {
  color: #00A9ED;
}

/* line 21, ../../../app/assets/stylesheets/global/base.scss */
a:hover {
  text-decoration: underline;
}

/* line 24, ../../../app/assets/stylesheets/global/base.scss */
strong, th {
  font-family: 'Heveltica';
  font-weight: normal;
}

/* line 29, ../../../app/assets/stylesheets/global/base.scss */
td, td img {
  vertical-align: top;
}

/* line 31, ../../../app/assets/stylesheets/global/base.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 32, ../../../app/assets/stylesheets/global/base.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 35, ../../../app/assets/stylesheets/global/base.scss */
pre {
  padding: 15px;
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 45, ../../../app/assets/stylesheets/global/base.scss */
textarea {
  overflow: auto;
}

/* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
/* line 47, ../../../app/assets/stylesheets/global/base.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
/* line 51, ../../../app/assets/stylesheets/global/base.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 52, ../../../app/assets/stylesheets/global/base.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 53, ../../../app/assets/stylesheets/global/base.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 54, ../../../app/assets/stylesheets/global/base.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* hand cursor on clickable input elements */
/* line 57, ../../../app/assets/stylesheets/global/base.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* webkit browsers add a 2px margin outside the chrome of form elements */
/* line 60, ../../../app/assets/stylesheets/global/base.scss */
button, input, select, textarea {
  margin: 0;
  outline: none;
}

/* colors for form validity */
/* line 64, ../../../app/assets/stylesheets/global/base.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 71, ../../../app/assets/stylesheets/global/base.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 74, ../../../app/assets/stylesheets/global/base.scss */
::-moz-selection {
  background: #1D3A67;
  color: #fff;
  /*@include single-text-shadow(rgba(0,0,0, 0.5), 1px, 1px, 1px);*/
}

/* line 79, ../../../app/assets/stylesheets/global/base.scss */
::selection {
  background: #1D3A67;
  color: #fff;
  /*@include single-text-shadow(rgba(0,0,0, 0.5), 1px, 1px, 1px);*/
}

/*  j.mp/webkit-tap-highlight-color */
/* line 86, ../../../app/assets/stylesheets/global/base.scss */
a:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
/* line 90, ../../../app/assets/stylesheets/global/base.scss */
button {
  width: auto;
  overflow: visible;
}

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 94, ../../../app/assets/stylesheets/global/base.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* >> The Magnificent CLEARFIX << */
/* line 97, ../../../app/assets/stylesheets/global/base.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 98, ../../../app/assets/stylesheets/global/base.scss */
.clearfix {
  display: inline-block;
}

/* line 99, ../../../app/assets/stylesheets/global/base.scss */
* html .clearfix {
  height: 1%;
}

/* Hides from IE-mac \*/
/* line 100, ../../../app/assets/stylesheets/global/base.scss */
.clearfix {
  display: block;
}

/* 	Footer Stick
	http://www.cssstickyfooter.com/
*/
/* line 105, ../../../app/assets/stylesheets/global/base.scss */
html, body {
  height: 100%;
}

/* line 109, ../../../app/assets/stylesheets/global/base.scss */
body {
  background: url("bg-galactic.jpg") center -51px no-repeat #040405;
  postion: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*body { background: url('http://cl.ly/2m290J2m2w3u3X1d0V2C/bg17.jpg') top center fixed no-repeat; -moz-background-size: cover; background-size: cover; postion: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 0; }*/
/*
@media only all and (max-width: 1500px) and (max-height: 970px) {
    body { -moz-background-size: 1500px 970px; background-size: 1500px 970px; }
}
*/
/* line 128, ../../../app/assets/stylesheets/global/base.scss */
a, a:visited {
  color: #59b7ff;
  text-decoration: none;
  outline: none;
  font-weight: normal;
}
/* line 134, ../../../app/assets/stylesheets/global/base.scss */
a:hover, a:visited:hover {
  text-decoration: underline;
}

/* line 138, ../../../app/assets/stylesheets/global/base.scss */
#dub {
  width: 100%;
  height: 100%;
}
