@font-face {
  font-family: EurostileMed;
  src: url(fonts/EurostileLTStd.otf);
  font-weight: 400;
}

@font-face {
  font-family: EurostileBld;
  src: url(fonts/EurostileLTStd-Bold.otf);
  font-weight: 400;
}
