/* line 6, ../../app/assets/stylesheets/generator.scss */
.content-generator {
  margin: 0px auto;
  width: 980px;
  height: auto;
}
/* line 12, ../../app/assets/stylesheets/generator.scss */
.content-generator .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 18, ../../app/assets/stylesheets/generator.scss */
.content-generator .title-container .title {
  margin: 20px 0px 0px -16px;
  height: 73px;
  width: 328px;
  float: left;
  text-indent: -9000px;
  background: url("title-generator.png") no-repeat top left transparent;
}
/* line 29, ../../app/assets/stylesheets/generator.scss */
.content-generator .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  color: #ffffff;
}
/* line 35, ../../app/assets/stylesheets/generator.scss */
.content-generator .text-container h4 {
  font-size: 22px;
  padding: 0px 0px 10px 0px;
}
/* line 41, ../../app/assets/stylesheets/generator.scss */
.content-generator .text-container p {
  font-size: 15px;
}
/* line 47, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content {
  clear: both;
  padding: 17px 0px 0px 0px;
}
/* line 52, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .left-column {
  width: 413px;
  height: 332px;
  float: left;
  margin: 20px 0px 0px -10px;
}
/* line 59, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .left-column .overlay {
  width: inherit;
  height: inherit;
  margin: 0px 0px 0px 10px;
  padding: 0px;
  background: url("img-preview-overlay.png") no-repeat 0px 6px transparent;
  z-index: 20;
  float: left;
  position: relative;
}
/* line 71, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .left-column .image {
  width: inherit;
  height: inherit;
  margin: -326px 0px 0px 10px;
  background: url("img-uploaded.png") no-repeat top left transparent;
  float: left;
  position: relative;
}
/* line 81, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .left-column .frame {
  width: inherit;
  height: inherit;
  margin: -336px 0px 0px 0px;
  background: url("bg-frame-generator.png") no-repeat top left transparent;
  z-index: 25;
  float: left;
  position: relative;
}
/* line 92, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .left-column .upload-button {
  margin: 205px 0px 0px 55px;
  padding: 54px 0px 0px 0px;
  width: 323px;
  height: 212px;
  background: url("button-upload-image.png") no-repeat 0px -70px transparent;
  position: absolute;
  z-index: 30;
}
/* line 102, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .left-column .upload-button a {
  margin: 10px 0px 0px 70px;
  width: 170px;
  height: 41px;
  display: block;
  text-indent: -9000px;
}
/* line 114, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .middle-column {
  width: 114px;
  height: 191px;
  float: left;
}
/* line 120, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .middle-column .arrow {
  margin: 50px 0px 0px 35px;
  width: inherit;
  height: inherit;
  background: url("img-arrow-generator.png") no-repeat top left transparent;
}
/* line 129, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column {
  margin: -330px 0px 0px 0px;
  width: 500px;
  height: auto;
  float: right;
}
/* line 136, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .preview-title {
  margin: 0px 0px 0px 225px;
  width: 165px;
  height: 57px;
  background: url("title-preview.png") no-repeat top left transparent;
}
/* line 144, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices {
  margin: 350px 0px 0px 100px;
  width: 452px;
  height: 88px;
  background: url("bg-preview-choices.png") no-repeat top left transparent;
  z-index: 15;
  float: left;
  position: relative;
}
/* line 154, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul {
  width: auto;
  height: auto;
  margin: 15px 0px 0px 35px;
}
/* line 160, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul li + li {
  margin-left: 3px;
}
/* line 165, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul li {
  width: 48px;
  height: 61px;
  list-style-type: none;
  float: left;
}
/* line 172, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul li a {
  width: 48px;
  height: 61px;
  display: block;
  opacity: 0.4;
}
/* line 179, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul li a.rim1 {
  background: url("img-rim-small1.png") no-repeat top left transparent;
}
/* line 184, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul li a.rim2 {
  background: url("img-rim-small2.png") no-repeat top left transparent;
}
/* line 189, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul li a.rim3 {
  background: url("img-rim-small3.png") no-repeat top left transparent;
}
/* line 194, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul li a.rim4 {
  background: url("img-rim-small4.png") no-repeat top left transparent;
}
/* line 199, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul li a.rim5 {
  background: url("img-rim-small5.png") no-repeat top left transparent;
}
/* line 204, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul li a.rim6 {
  background: url("img-rim-small6.png") no-repeat top left transparent;
}
/* line 209, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul li a.rim7 {
  background: url("img-rim-small7.png") no-repeat top left transparent;
}
/* line 215, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .choices ul li a.active {
  opacity: 1.0;
}
/* line 223, ../../app/assets/stylesheets/generator.scss */
.content-generator .media-content .right-column .rim-preview {
  width: 544px;
  height: 400px;
  background: url("img-generator-preview.png") no-repeat 40px -80px transparent;
}
