/* line 6, ../../app/assets/stylesheets/media.scss */
.content-media {
  margin: 0px auto;
  width: 980px;
  height: auto;
}
/* line 12, ../../app/assets/stylesheets/media.scss */
.content-media .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 18, ../../app/assets/stylesheets/media.scss */
.content-media .title-container .title {
  margin: 20px 0px 0px -16px;
  height: 73px;
  width: 188px;
  float: left;
  text-indent: -9000px;
  background: url("title-media.png") no-repeat top left transparent;
}
/* line 29, ../../app/assets/stylesheets/media.scss */
.content-media .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  color: #ffffff;
}
/* line 35, ../../app/assets/stylesheets/media.scss */
.content-media .text-container h4 {
  font-size: 22px;
  padding: 0px 0px 10px 0px;
}
/* line 42, ../../app/assets/stylesheets/media.scss */
.content-media .media-content {
  clear: both;
  padding: 17px 0px 0px 0px;
}
/* line 47, ../../app/assets/stylesheets/media.scss */
.content-media .media-content .left-column {
  width: 745px;
  height: auto;
  float: left;
}
/* line 53, ../../app/assets/stylesheets/media.scss */
.content-media .media-content .left-column iframe {
  position: relative;
  float: left;
  border: 1px solid #2d2d2d;
}
/* line 61, ../../app/assets/stylesheets/media.scss */
.content-media .media-content .right-column {
  width: 221px;
  height: auto;
  float: right;
}
/* line 67, ../../app/assets/stylesheets/media.scss */
.content-media .media-content .right-column ul {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
}
/* line 74, ../../app/assets/stylesheets/media.scss */
.content-media .media-content .right-column ul li {
  padding: 0px 0px 12px 0px;
  list-style-type: none;
}
