/* line 6, ../../app/assets/stylesheets/refunds.css.scss */
.content-refunds {
  margin: 0px auto;
  width: 980px;
  height: auto;
}
/* line 12, ../../app/assets/stylesheets/refunds.css.scss */
.content-refunds .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 18, ../../app/assets/stylesheets/refunds.css.scss */
.content-refunds .title-container .title {
  margin: 20px 0px 0px -16px;
}
/* line 24, ../../app/assets/stylesheets/refunds.css.scss */
.content-refunds .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  color: #fafafa;
  margin: 0px 0px 20px 0px;
}
/* line 31, ../../app/assets/stylesheets/refunds.css.scss */
.content-refunds .text-container h4 {
  font-size: 22px;
  padding: 0px 0px 10px 0px;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 40, ../../app/assets/stylesheets/refunds.css.scss */
.content-refunds .media-content {
  clear: both;
  padding: 17px 0px 0px 0px;
}
/* line 45, ../../app/assets/stylesheets/refunds.css.scss */
.content-refunds .media-content .left-column {
  width: 745px;
  height: auto;
  float: left;
}
/* line 51, ../../app/assets/stylesheets/refunds.css.scss */
.content-refunds .media-content .left-column iframe {
  position: relative;
  float: left;
  border: 1px solid #2d2d2d;
}
/* line 59, ../../app/assets/stylesheets/refunds.css.scss */
.content-refunds .media-content .right-column {
  width: 221px;
  height: auto;
  float: right;
}
/* line 65, ../../app/assets/stylesheets/refunds.css.scss */
.content-refunds .media-content .right-column ul {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
}
/* line 72, ../../app/assets/stylesheets/refunds.css.scss */
.content-refunds .media-content .right-column ul li {
  padding: 0px 0px 12px 0px;
  list-style-type: none;
}
