/* line 6, ../../app/assets/stylesheets/registrations.scss */
.content-registrations {
  margin: 0px auto;
  width: 980px;
  height: auto;
}
/* line 14, ../../app/assets/stylesheets/registrations.scss */
.content-registrations.edit .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 20, ../../app/assets/stylesheets/registrations.scss */
.content-registrations.edit .title-container .title {
  margin: 20px 0px 0px -16px;
  height: 73px;
  width: 284px;
  float: left;
  text-indent: -9000px;
  background: url("title-edit-user.png") no-repeat top left transparent;
}
/* line 34, ../../app/assets/stylesheets/registrations.scss */
.content-registrations.sign-up .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 40, ../../app/assets/stylesheets/registrations.scss */
.content-registrations.sign-up .title-container .title {
  margin: 20px 0px 0px -16px;
  height: 73px;
  width: 234px;
  float: left;
  text-indent: -9000px;
  background: url("title-sign-up.png") no-repeat top left transparent;
}
/* line 54, ../../app/assets/stylesheets/registrations.scss */
.content-registrations .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  color: #ffffff;
}
/* line 60, ../../app/assets/stylesheets/registrations.scss */
.content-registrations .text-container h4 {
  font-size: 22px;
  padding: 0px 0px 10px 0px;
}
/* line 66, ../../app/assets/stylesheets/registrations.scss */
.content-registrations .text-container p {
  font-size: 15px;
}
