/* line 6, ../../app/assets/stylesheets/technology.scss */
.content-technology {
  margin: 0px auto;
  width: 980px;
  height: auto;
}
/* line 12, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  margin: 0px auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("bg-overlay.png") repeat top left transparent;
}
/* line 26, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay .overlay-container {
  display: none;
  margin: 0px auto;
  padding: 0px;
  width: auto;
  height: auto;
  z-index: 1000;
  clear: both;
  text-shadow: 0px 1px 2px #333;
  font-size: 12px;
  line-height: 25px;
  color: #fafafa;
  letter-spacing: 1.0;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
/* line 45, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay .overlay-container .top {
  width: 724px;
  height: 159px;
  background: url("bg-tech-overlay-top.png") no-repeat top left transparent;
}
/* line 51, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay .overlay-container .top .close-button {
  margin: 70px 72px 0px 0px;
  width: 18px;
  height: 18px;
  float: right;
  position: relative;
}
/* line 59, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay .overlay-container .top .close-button a {
  width: inherit;
  height: inherit;
  float: left;
  background: url("button-tech-overlay-close.png") no-repeat top left transparent;
}
/* line 66, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay .overlay-container .top .close-button a:hover {
  background-position: bottom left;
}
/* line 73, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay .overlay-container .top .title {
  margin: -25px 0px 0px 75px;
  width: 605px;
  height: 57px;
  background: url("img-tech-title1-large.png") no-repeat top left transparent;
  float: left;
}
/* line 82, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay .overlay-container .top .sub-title {
  margin: 0px 0px 0px 90px;
  width: 605px;
  height: auto;
  float: left;
}
/* line 89, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay .overlay-container .top .sub-title h4 {
  font-family: EurostileBld, Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 10px 0px 20px 0px;
  font-weight: 400;
}
/* line 100, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay .overlay-container .middle {
  width: 724px;
  height: auto;
  background: url("bg-tech-overlay-middle.png") repeat-y top left transparent;
  display: block;
}
/* line 107, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay .overlay-container .middle p {
  margin: 0px 0px 0px 90px;
  width: 560px;
  height: auto;
  font-size: 15px;
}
/* line 116, ../../app/assets/stylesheets/technology.scss */
.content-technology #tech-overlay .overlay-container .bottom {
  width: 735px;
  height: 70px;
  background: url("bg-tech-overlay-bottom.png") no-repeat top left transparent;
}
/* line 125, ../../app/assets/stylesheets/technology.scss */
.content-technology .title-container {
  width: auto;
  height: auto;
  display: block;
}
/* line 131, ../../app/assets/stylesheets/technology.scss */
.content-technology .title-container .title {
  margin: 20px 0px 0px -16px;
  height: 73px;
  width: 357px;
  float: left;
  text-indent: -9000px;
  background: url("title-technology.png") no-repeat top left transparent;
}
/* line 142, ../../app/assets/stylesheets/technology.scss */
.content-technology .text-container {
  clear: both;
  text-shadow: 0px 1px 2px #333;
  color: #fafafa;
}
/* line 148, ../../app/assets/stylesheets/technology.scss */
.content-technology .text-container h4 {
  font-size: 22px;
  padding: 0px 0px 10px 0px;
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 156, ../../app/assets/stylesheets/technology.scss */
.content-technology .text-container p {
  font-size: 15px;
}
/* line 162, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content {
  clear: both;
  padding: 17px 0px 0px 0px;
}
/* line 167, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .overlay {
  margin: -70px 0px 0px -15px;
  width: 1001px;
  height: 457px;
  background: url("img-technology-overlay.png") no-repeat top left transparent;
  z-index: 10;
  position: relative;
}
/* line 176, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .overlay .titles {
  width: 1001px;
  height: 457px;
}
/* line 181, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .overlay .titles a {
  width: auto;
  height: auto;
}
/* line 186, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .overlay .titles a.title1 {
  width: 237px;
  height: 51px;
  background: url("img-tech-title1.png") no-repeat top left transparent;
  position: absolute;
  top: 62px;
  left: 83px;
}
/* line 197, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .overlay .titles a.title2 {
  width: 306px;
  height: 51px;
  background: url("img-tech-title2.png") no-repeat top left transparent;
  position: absolute;
  top: 135px;
  left: 0px;
}
/* line 208, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .overlay .titles a.title3 {
  width: 244px;
  height: 51px;
  background: url("img-tech-title3.png") no-repeat top left transparent;
  position: absolute;
  top: 205px;
  left: 78px;
}
/* line 219, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .overlay .titles a.title4 {
  width: 215px;
  height: 51px;
  background: url("img-tech-title4.png") no-repeat top left transparent;
  position: absolute;
  top: 0px;
  right: 40px;
}
/* line 230, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .overlay .titles a.title5 {
  width: 215px;
  height: 51px;
  background: url("img-tech-title5.png") no-repeat top left transparent;
  position: absolute;
  top: 90px;
  right: 0px;
}
/* line 241, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .overlay .titles a.title6 {
  width: 214px;
  height: 78px;
  background: url("img-tech-title6.png") no-repeat top left transparent;
  position: absolute;
  top: 170px;
  right: 21px;
}
/* line 252, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .overlay .titles a.title7 {
  width: 189px;
  height: 51px;
  background: url("img-tech-title7.png") no-repeat top left transparent;
  position: absolute;
  top: 265px;
  right: 70px;
}
/* line 263, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .overlay .titles a:hover {
  background-position: bottom left;
}
/* line 271, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .choices {
  margin: 300px 0px 0px 315px;
  width: 452px;
  height: 88px;
  background: url("bg-preview-choices.png") no-repeat top left transparent;
  z-index: 15;
  float: left;
  position: relative;
}
/* line 281, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .choices ul {
  width: auto;
  height: auto;
  margin: 15px 0px 0px 35px;
}
/* line 287, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .choices ul li + li {
  margin-left: 3px;
}
/* line 292, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .choices ul li {
  width: 48px;
  height: 61px;
  list-style-type: none;
  float: left;
}
/* line 299, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .choices ul li a {
  width: 48px;
  height: 61px;
  display: block;
  opacity: 0.4;
}
/* line 306, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .choices ul li a.rim-small {
  width: 48px;
  height: 61px;
  display: block;
}
/* line 314, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .choices ul li a.active {
  opacity: 1.0;
}
/* line 322, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .rim {
  margin: -580px 0px 0px 277px;
  width: 514px;
  height: 533px;
  z-index: 1;
  position: relative;
}
/* line 330, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .rim img {
  position: absolute;
}
/* line 335, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .rim .show {
  display: block;
}
/* line 340, ../../app/assets/stylesheets/technology.scss */
.content-technology .technology-content .rim .hide {
  display: none;
}
