%section.body
  %section.content-container.interior
    .content-order
      .left-column
        .title-container
          .title PURCHASE
        .text-container
          %h4 Get yours today.
        .rim
          %img{:src => "assets/img-rim-order.png"}/
      .right-column
        .tabs
          %ul
            %li
              %a.sizing{:href => "#"}
                Sizing
            %li
              %a.style{:href => "#"}
                Style
        .selection
          .row
            %table
              %tr
                %td.title
                  Size:
                %td
                  24 Inches
                %td
                  22 Inches
          .row
            %table
              %tr
                %td.title
                  Fitting:
                %td
                  22x10
                %td
                  *Set of 4
        .checkout
          .left-column
            .total-block
              .total-title
                Total:
              .total-price
                $1,199
              .checkout
                %a.checkout-button
                  Checkout
            .note
              Note: All sales are final. Shipping & Tax calculated at checkout. International shipping extra.
          .right-column
            .authorize-net
              %img{:src => "assets/img-authorizenet.png"}/

