%section.body
  %section.content-container.interior
    .content-order
      .left-column
        .title-container
          .title PURCHASE
        .text-container
          %h4 Get yours today.
      .right-column
        .tabs
