.title Editing Generator
.text-container
  %fieldset
    %legend Generator Information
    = render 'edit_form'

  %fieldset
    %legend Other options
    .links
      = link_to 'Cancel', admin_generator_path(@generator), :class => 'btn blue'
      = link_to 'Back to list', admin_generators_path, :class => 'btn black pad left5'
