%section.body
  %section.rim-container
    .rims-large
      %ul
        %li
          %img{:src => "assets/img-home-rim-large1.png"}/
        %li
          %img{:src => "assets/img-home-rim-large2.png"}/
        %li
          %img{:src => "assets/img-home-rim-large3.png"}/
        %li
          %img{:src => "assets/img-home-rim-large4.png"}/
        %li
          %img{:src => "assets/img-home-rim-large5.png"}/
        %li
          %img{:src => "assets/img-home-rim-large6.png"}/
        %li
          %img{:src => "assets/img-home-rim-large7.png"}/
    .rim-buttons
      .arrow.left
        %a{:href => "#"}
      .arrow.right
        %a{:href => "#"}
  %section.rim-select
    .rim-reflection
      .reflection.left
      .buttons
        %ul
          %li
            %a.active{:href => "#"} Rim 1
          %li
            %a{:href => "#"} Rim 2
          %li
            %a{:href => "#"} Rim 3
          %li
            %a{:href => "#"} Rim 4
          %li
            %a{:href => "#"} Rim 5
          %li
            %a{:href => "#"} Rim 6
          %li
            %a{:href => "#"} Rim 7
      .reflection.right
  %section.content-container.home
    .content
      .left-column
        .rim-preview
        .try-it
          %a{:href => "#"} Try It Out
      .right-column
        .title-container
          .title DUB LEDS
          .usb-built-in
        .text-container
          %h4 The world's most technologically advanced rims.
          %p It has been long thought desirable to decorate one's automobile by the addition of decorative wheels. It has further been thought desirable to communicate with others by means of addressible electronic displays. The concept of combining decorative automobile wheels with an addressible electronic display is a relatively new one which produces novel and visually interesting results.
          %ul
            %li Digital images displayed on Rims
            %li No-hassle easy install, no wires to plug into the car battery
            %li Self-Generating pwer
            %li USB Port built-in
          %ul
            %li Wireless remote control
            %li Turn off / switch next to image while driving
            %li Universal fit on most vehicles!
