#product-properties
{
  border: none;

  td
  {
    padding: 10px 10px 10px 0px;
    font-family: EurostileMed, Helvetica, Arial, sans-serif;
    font-size: 20px;

    strong
    {
      font-family: EurostileMed, Helvetica, Arial, sans-serif;
      font-size: 20px;
    }
  }
}