.title="Updating: #{@rim.title}"
.text-container
  %fieldset
    %legend Rim Information
    = render 'edit_form'

  %fieldset
    %legend Other options
    .links
      = link_to 'Rim Information', admin_rim_path(@rim), :class => 'btn blue'
      = link_to 'Back to list', admin_rims_path, :class => 'btn black pad left5'
