.title New Rim
.text-container
  %fieldset
    %legend Rim Information
    = render 'new_form'

  %fieldset
    %legend Other options
    .links
      = link_to 'Back to list', admin_rims_path, :class => 'btn black'