.title Software
.sub-title
  = @software.first.name
.small-title
  / Download
.container
  %div
    - if @software.first.image.present? && @software.first.image.url.present?
      = image_tag(@software.first.image.url)

  .links
    = link_to 'Click here to download', @software.first.download_url, :class => 'btn blue'