.title Editing resource
.text-container
  %fieldset
    %legend Resource Information
    = render 'edit_form'

  %fieldset
    %legend Other options
    .links
      = link_to 'Resource Information', admin_resource_path(@resource), :class => 'btn blue'
      = link_to 'Back to list',  admin_resources_path, :class => 'btn black pad left5'
