.title New resource
.text-container
  %fieldset
    %legend Resource Information
    = render 'new_form'

  %fieldset
    %legend Other options
    .links
      = link_to 'Back to list', admin_resources_path, :class => 'btn black'