<section class="body">
    <section class="content-container interior">
        <div class="content-generator">
            <div class="title-container">
                <div class="title">GENERATOR</div>
            </div>
            <div class="text-container">
                <h4>Generate your own LED RIM images.</h4>
                <p>Want to see how your images will look on your rims? Take a virtual test drive ...</p>
            </div>
            <div class="media-content">
                <div class="left-column">
                    <div class="upload-button">
                        <div class="upload"><a href="#">Upload</a></div>
                    </div>
                    <div class="overlay"></div>
                    <div class="image"></div>
                    <div class="frame"></div>
                </div>
                <div class="middle-column">
                    <div class="arrow"></div>
                </div>
                <div class="right-column">
                    <div class="preview-title"></div>
                    <div class="choices">
                        <ul>
                            <li><a href="#" class="rim1 active"></a></li>
                            <li><a href="#" class="rim2"></a></li>
                            <li><a href="#" class="rim3"></a></li>
                            <li><a href="#" class="rim4"></a></li>
                            <li><a href="#" class="rim5"></a></li>
                            <li><a href="#" class="rim6"></a></li>
                            <li><a href="#" class="rim7"></a></li>
                        </ul>
                    </div>
                    <div class="rim-preview"></div>
                </div>
            </div>
        </div>
    </section>
</section>