.title Editing Media
.text-container
  %fieldset
    %legend Media Information
    = render 'edit_form'

  %fieldset
    %legend Other options
    .links
      = link_to 'Cancel', admin_media_path(@media), :class => 'btn blue'
      = link_to 'Back to list', admin_medias_path, :class => 'btn black pad left5'
