// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../global/variables";
@import "../global/mixins";

.content
{
  &.admin
  {
     ul
     {
       margin: 10px 0px 10px 20px;
       padding: 0px;
       list-style-type: none;

       li + li
       {
         padding-top: 10px;
       }
     }
  }
}