// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../global/variables";
@import "../global/mixins";

.content
{
  &.contact
  {
      margin: 0px auto;
      width: 980px;
      height: auto;

      .title-container
      {
        .title
        {
          font-size: 50px !important;
        }

        .sub-title
        {
          margin: 0px 0px 0px 4px;
          color: #fafafa;
        }

        .small-title
        {
          margin: 0px 0px 0px 4px;
          font-size: 15px;
          color: #ccc;
        }
      }

      .text-container
      {
          clear: both;
          text-shadow: 0px 1px 2px #333;
          color: #fafafa;

          h4
          {
              font-size: 22px;
              padding: 0px 0px 10px 0px;
              font-family: EurostileMed, Helvetica, Arial, sans-serif;
              font-weight: 700;
          }

          p
          {
              font-size: 15px;
          }
      }

      .contact-form
      {
          clear: both;
          padding: 30px 0px 0px 0px;

          .left-column
          {
              width: auto;
              height: auto;
              display: inline-block;
          }

          .right-column
          {
              width: auto;
              height: auto;
              display: inline-block;

              .field
              {
                  width: 530px;
                  height: auto;
                  border: none;
                  outline: none;
                  z-index: 10;
                  position: relative;
              }
          }
      }
  }
}