// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../global/variables";
@import "../global/mixins";

.content-contact
{
    margin: 0px auto;
    width: 980px;
    height: auto;

    .title-container
    {
        width: auto;
        height: auto;
        display: block;

        .title
        {
            margin: 20px 0px 0px -16px;
            height: 73px;
            width: 261px;
            float: left;
            text-indent: -9000px;
            @include background($path + '/title-contact.png', no-repeat, top left, transparent);
        }
    }

    .text-container
    {
        clear: both;
        text-shadow: 0px 1px 2px #333;
        color: #fafafa;

        h4
        {
            font-size: 22px;
            padding: 0px 0px 10px 0px;
            font-family: EurostileMed, Helvetica, Arial, sans-serif;
            font-weight: 700;
        }

        p
        {
            font-size: 15px;
        }
    }

    .contact-form
    {
        clear: both;
        padding: 30px 0px 0px 0px;

        .left-column
        {
            width: 422px;
            height: auto;
            float: left;

            .field
            {
                width: 420px;
                height: auto;
                border: none;
                outline: none;
                padding: 0px 0px 15px 0px;
            }

            .field-select
            {
                width: 420px;
                height: auto;
                border: none;
                outline: none;
                padding: 0px 0px 15px 0px;
            }
        }

        .right-column
        {
            width: 531px;
            height: auto;
            float: right;

            .field
            {
                width: 530px;
                height: auto;
                border: none;
                outline: none;
                z-index: 10;
                position: relative;
            }

            .send-button
            {
                margin: -40px 0px 0px 435px;
                padding: 54px 0px 0px 0px;
                width: 304px;
                height: 293px;
                @include background($path + '/button-send.png', no-repeat, -95px -70px, transparent);
                position: absolute;
                z-index: 1;

                input
                {
                    margin: 0px 0px 0px 18px;
                    width: 81px;
                    height: 37px;
                    display: block;
                    text-indent: -9000px;

                }
            }
        }

        label
        {
            font-size: 16px;
            color: #fafafa;
            display: block;
            font-weight: 400;
            padding: 0px 0px 5px 0px;
        }

        input
        {
            width: 400px;
            height: 42px;
            border: none;
            outline: none;
            color: #7f7f7f;
            font-size: 15px;
            font-weight: 400;
            @include background($path + '/bg-contact-field-single.png', no-repeat, top left, transparent);
            padding: 2px 10px 0px 10px;
        }

        select
        {
            width: 420px;
            height: 42px;
            border: none;
            outline: none;
            color: #7f7f7f;
            font-size: 15px;
            font-weight: 400;
            @include background($path + '/bg-contact-field-select.png', no-repeat, top left, transparent);
            -webkit-appearance: none;
            overflow: hidden;
            padding: 2px 10px 0px 10px;
        }


        textarea
        {
            width: 505px;
            height: 204px;
            border: none;
            outline: none;
            color: #7f7f7f;
            font-size: 15px;
            line-height: 26px;
            font-weight: 400;
            @include background($path + '/bg-contact-field-multi.png', no-repeat, top left, transparent);
            padding: 10px 10px 10px 15px;
            resize: none;
            overflow: hidden;
        }
    }
}