.content
{
  &.generator
  {
    margin: 0px auto;
    width: 980px;
    height: auto;

    .title-container
    {
      .title
      {
        font-size: 50px !important;
      }

      .sub-title
      {
        margin: 0px 0px 0px 4px;
        color: #fafafa;
      }

      .small-title
      {
        margin: 0px 0px 0px 4px;
        font-size: 15px;
        color: #ccc;
      }
    }

    .container
    {
        width: auto;
        height: auto;
        padding: 17px 0px 0px 0px;
        display: inline-block;

        .left-column
        {
            width: 413px;
            height: 332px;
            float: left;
            margin: 20px 0px 0px -10px;

            .overlay
            {
                width: inherit;
                height: inherit;
                margin: 0px 0px 0px 10px;
                padding: 0px;
                @include background($path + '/img-preview-overlay.png', no-repeat, 0px 6px, transparent);
                z-index: 20;
                float: left;
                position: relative;
            }

            .image
            {
                width: inherit;
                height: inherit;
                margin: -326px 0px 0px 10px;
                float: left;
                position: relative;
                display: none;
            }

            .frame
            {
                width: inherit;
                height: inherit;
                margin: -336px 0px 0px 0px;
                @include background($path + '/bg-frame-generator.png', no-repeat, top left, transparent);
                z-index: 25;
                float: left;
                position: relative;
            }

            .upload-button
            {
                margin: 205px 0px 0px 55px;
                padding: 54px 0px 0px 0px;
                width: 323px;
                height: 212px;
                @include background($path + '/button-upload-image.png', no-repeat, 0px -70px, transparent);
                position: absolute;
                z-index: 30;

                a
                {
                    margin: 10px 0px 0px 70px;
                    width: 170px;
                    height: 41px;
                    display: block;
                    text-indent: -9000px;

                }
            }
        }

        .middle-column
        {
            width: 114px;
            height: 191px;
            float: left;

            .arrow
            {
                margin: 50px 0px 0px 35px;
                width: inherit;
                height: inherit;
                @include background($path + '/img-arrow-generator.png', no-repeat, top left, transparent);
            }
        }

        .right-column
        {
            margin: -330px 0px 0px 0px;
            width: 500px;
            height: auto;
            float: right;

            .preview-title
            {
                margin: 0px 0px 0px 225px;
                width: 165px;
                height: 57px;
                @include background($path + '/title-preview.png', no-repeat, top left, transparent);
            }

            .choices
            {
                margin: 350px 0px 0px 100px;
                width: 452px;
                height: 88px;
                @include background($path + '/bg-preview-choices.png', no-repeat, top left, transparent);
                z-index: 25;
                float: left;
                position: relative;

                ul
                {
                    width: auto;
                    height: auto;
                    margin: 15px 0px 0px 35px;

                    li + li
                    {
                        margin-left: 3px;
                    }

                    li
                    {
                        width: 48px;
                        height: 61px;
                        list-style-type: none;
                        float: left;

                        a
                        {
                            width: 48px;
                            height: 61px;
                            display: block;
                            opacity: 0.4;

                            &.rim1
                            {
                              @include background($path + '/img-rim-small1.png', no-repeat, top left, transparent);
                            }

                            &.rim2
                            {
                              @include background($path + '/img-rim-small2.png', no-repeat, top left, transparent);
                            }

                            &.rim3
                            {
                              @include background($path + '/img-rim-small3.png', no-repeat, top left, transparent);
                            }

                            &.rim4
                            {
                              @include background($path + '/img-rim-small4.png', no-repeat, top left, transparent);
                            }

                            &.rim5
                            {
                              @include background($path + '/img-rim-small5.png', no-repeat, top left, transparent);
                            }

                            &.rim6
                            {
                              @include background($path + '/img-rim-small6.png', no-repeat, top left, transparent);
                            }

                            &.rim7
                            {
                              @include background($path + '/img-rim-small7.png', no-repeat, top left, transparent);
                            }
                        }

                        a.active
                        {
                            opacity: 1.0;
                        }
                    }
                }
            }

            .rim-preview
            {
                width: 532px;
                height: 461px;
                @include background($path + '/bg-generator-preview.png', no-repeat, 60px -111px, transparent);
                z-index: 22;
                position: relative;
            }
            
            .image
            {
              width: inherit;
              height: inherit;
              margin: -440px 0px 0px 110px;
              float: left;
              position: relative;
              display: none;
            }
        }
    }
  }
}