.content
{
  &.generator
  {
    margin: 0px auto;
    width: 980px;
    height: auto;

    .title-container
    {
      .title
      {
        font-size: 50px !important;
      }

      .sub-title
      {
        margin: 0px 0px 0px 4px;
        color: #fafafa;
        position: relative;
        z-index: 34;
      }

      .small-title
      {
        margin: 0px 0px 0px 4px;
        font-size: 15px;
        color: #ccc;
        position: relative;
        z-index: 35;
      }
    }
    
    #generator-overlay
    {
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 999;
      margin: 0px auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include background($path + '/bg-overlay.png', repeat, top left, transparent);

      .overlay-container
      {
          display: none;
          margin: 0px auto;
          padding: 0px;
          width: auto;
          height: auto;
          z-index: 1000;

          clear: both;
          text-shadow: 0px 1px 2px #333;
          font-size: 12px;
          line-height: 25px;
          color: #fafafa;
          letter-spacing: 1.0;

          font-family: EurostileMed, Helvetica, Arial, sans-serif;
          font-weight: 400;

        .top
        {
          width: 724px;
          height: 159px;
          @include background($path + '/bg-tech-overlay-top.png', no-repeat, top left, transparent);

          .close-button
          {
            margin: 70px 72px 0px 0px;
            width: 18px;
            height: 18px;
            float: right;
            position: relative;

            a
            {
              width: inherit;
              height: inherit;
              float: left;
              @include background($path + '/button-tech-overlay-close.png', no-repeat, top left, transparent);

              &:hover
              {
                background-position: bottom left;
              }
            }
          }

          .title
          {
            margin: -15px 0px 0px 90px;
            padding: 10px 0px 0px 0px;
            width: 550px;
            line-height: 40px;
            height: auto;
            font-family: EurostileMed, Helvetica, Arial, sans-serif;
            font-size: 35px !important;
            color: #18c6fe;
            background: none;
            float: left;
            text-indent: 0px;
            text-transform: uppercase;
          }

          .sub-title
          {
            margin: 0px 0px 0px 90px;
            width: 605px;
            height: auto;
            float: left;

            h4
            {
                font-family: EurostileMed, Helvetica, Arial, sans-serif;
                font-size: 18px;
                padding: 10px 0px 10px 0px;
                font-weight: 400;
                color: #ccc !important;
            }

          }
        }

        .middle
        {
          padding: 15px 0px 0px 0px;
          width: 724px;
          height: auto;
          @include background($path + '/bg-tech-overlay-middle.png', repeat-y, top left, transparent);
          display: block;

          p
          {
            margin: 0px 0px 0px 90px;
            width: 560px;
            height: auto;
            font-size: 14px;
          }
          
          .generator-form
          {
            margin: 0px 0px 0px 90px;
            width: 550px;
            display: inline-block;
            
            input
            {
              display: block;
            }
          }
        }

        .bottom
        {
          width: 735px;
          height: 70px;
          @include background($path + '/bg-tech-overlay-bottom.png', no-repeat, top left, transparent);
        }
      }
    }

    .container
    {
        width: auto;
        height: auto;
        padding: 17px 0px 0px 0px;
        display: inline-block;

        .left-column
        {
            width: 413px;
            height: 332px;
            float: left;
            margin: 20px 0px 0px -10px;
            position: relative;

            .overlay
            {
                width: inherit;
                height: inherit;
                margin: 0px 0px 0px 10px;
                padding: 0px;
                @include background($path + '/img-preview-overlay.png', no-repeat, 0px 6px, transparent);
                z-index: 20;
                float: left;
                position: relative;
            }

            .image
            {
                width: inherit;
                height: inherit;
                margin: -326px 0px 0px 10px;
                float: left;
                position: relative;
                display: none;
            }

            .frame
            {
                width: inherit;
                height: inherit;
                margin: -336px 0px 0px 0px;
                @include background($path + '/bg-frame-generator.png', no-repeat, top left, transparent);
                z-index: 25;
                float: left;
                position: relative;
            }

            .upload-button
            {
                margin: 205px 0px 0px 110px;
                padding: 54px 0px 0px 0px;
                width: auto;
                height: auto;
                position: absolute;
                z-index: 30;
                display: inline-block;

                .file
                {
                  display: none !important;
                }
                
                #generator_thumbnail
                {
                  display: inline-block !important;
                }
                
                input.uploader
                {
                  margin: 0px !important;
                  padding: 0px !important;
                  width: 185px !important;
                  height: 51px !important;
                  display: none !important;
                }

                a
                {
                    margin: 10px 0px 0px 70px;
                    width: 170px;
                    height: 41px;
                    display: block;
                    text-indent: -9000px;
                    cursor: pointer;
                }
            }
        }

        .middle-column
        {
            width: 114px;
            height: 191px;
            float: left;
            position: relative;
            z-index: 10;

            .arrow
            {
                margin: 50px 0px 0px 35px;
                width: inherit;
                height: inherit;
                @include background($path + '/img-arrow-generator.png', no-repeat, top left, transparent);
            }
        }

        .right-column
        {
            margin: -330px 0px 0px 0px;
            width: 500px;
            height: auto;
            float: right;

            .preview-title
            {
                margin: 0px 0px 0px 225px;
                width: 165px;
                height: 57px;
                @include background($path + '/title-preview.png', no-repeat, top left, transparent);
            }

            .choices
            {
                margin: 350px 0px 0px 100px;
                width: 452px;
                height: 88px;
                @include background($path + '/bg-preview-choices.png', no-repeat, top left, transparent);
                z-index: 25;
                float: left;
                position: relative;

                ul
                {
                    width: auto;
                    height: auto;
                    margin: 15px 0px 0px 35px;

                    li + li
                    {
                        margin-left: 3px;
                    }

                    li
                    {
                        width: 48px;
                        height: 61px;
                        list-style-type: none;
                        float: left;

                        a
                        {
                            width: 48px;
                            height: 61px;
                            display: block;
                            opacity: 0.4;

                            &.rim1
                            {
                              @include background($path + '/img-rim-small1.png', no-repeat, top left, transparent);
                            }

                            &.rim2
                            {
                              @include background($path + '/img-rim-small2.png', no-repeat, top left, transparent);
                            }

                            &.rim3
                            {
                              @include background($path + '/img-rim-small3.png', no-repeat, top left, transparent);
                            }

                            &.rim4
                            {
                              @include background($path + '/img-rim-small4.png', no-repeat, top left, transparent);
                            }

                            &.rim5
                            {
                              @include background($path + '/img-rim-small5.png', no-repeat, top left, transparent);
                            }

                            &.rim6
                            {
                              @include background($path + '/img-rim-small6.png', no-repeat, top left, transparent);
                            }

                            &.rim7
                            {
                              @include background($path + '/img-rim-small7.png', no-repeat, top left, transparent);
                            }
                        }

                        a.active
                        {
                            opacity: 1.0;
                        }
                    }
                }
            }

            .rim-preview
            {
                width: 532px;
                height: 461px;
                // @include background($path + '/bg-generator-preview.png', no-repeat, 60px -111px, transparent);
                z-index: 3;
                position: relative;
                
                .rim
                {
                    margin: 0px 0px 0px 0px;
                    width: 532px;
                    height: 461px;
                    z-index: 1;
                    position: absolute;
                    left: 60px;
                    top: -107px;
                    
                    div
                    {
                      display: block;
                    }

                    img
                    {
                      position: absolute;
                    }

                    .show
                    {
                      display: block;
                    }

                    .hide
                    {
                      display: none;
                    }
                }
            }
            
            .image
            {
              width: inherit;
              height: inherit;
              margin: -440px 0px 0px 110px;
              float: left;
              position: relative;
              display: none;
            }
        }
    }
  }
}