.content
{
  &.technology
  {
    margin: 0px auto;
    width: 980px;
    height: auto;

    .title-container
    {
      .title
      {
        font-size: 50px !important;
      }

      .sub-title
      {
        color: #fafafa;
        margin: 0px 0px 0px 10px;
      }
    }

    #tech-overlay
    {
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 999;
      margin: 0px auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include background($path + '/bg-overlay.png', repeat, top left, transparent);

      .overlay-container
      {
          display: none;
          margin: 0px auto;
          padding: 0px;
          width: auto;
          height: auto;
          z-index: 1000;

          clear: both;
          text-shadow: 0px 1px 2px #333;
          font-size: 12px;
          line-height: 25px;
          color: #fafafa;
          letter-spacing: 1.0;

          font-family: EurostileMed, Helvetica, Arial, sans-serif;
          font-weight: 400;

        .top
        {
          width: 724px;
          height: 159px;
          @include background($path + '/bg-tech-overlay-top.png', no-repeat, top left, transparent);

          .close-button
          {
            margin: 70px 72px 0px 0px;
            width: 18px;
            height: 18px;
            float: right;
            position: relative;

            a
            {
              width: inherit;
              height: inherit;
              float: left;
              @include background($path + '/button-tech-overlay-close.png', no-repeat, top left, transparent);

              &:hover
              {
                background-position: bottom left;
              }
            }
          }

          .title
          {
            margin: -15px 0px 0px 90px;
            padding: 10px 0px 0px 0px;
            width: 550px;
            line-height: 40px;
            height: auto;
            font-family: EurostileMed, Helvetica, Arial, sans-serif;
            font-size: 35px !important;
            color: #18c6fe;
            background: none;
            float: left;
            text-indent: 0px;
            text-transform: uppercase;
          }

          .sub-title
          {
            margin: 0px 0px 0px 90px;
            width: 605px;
            height: auto;
            float: left;

            h4
            {
                font-family: EurostileMed, Helvetica, Arial, sans-serif;
                font-size: 18px;
                padding: 10px 0px 10px 0px;
                font-weight: 400;
                color: #ccc !important;
            }

          }
        }

        .middle
        {
          width: 724px;
          height: auto;
          @include background($path + '/bg-tech-overlay-middle.png', repeat-y, top left, transparent);
          display: block;

          p
          {
            margin: 0px 0px 0px 90px;
            width: 560px;
            height: auto;
            font-size: 14px;
          }
        }

        .bottom
        {
          width: 735px;
          height: 70px;
          @include background($path + '/bg-tech-overlay-bottom.png', no-repeat, top left, transparent);
        }
      }
    }

    .technology-content
    {
        clear: both;
        padding: 50px 0px 0px 0px;

        .overlay
        {
            margin: -70px 0px 0px -15px;
            width: 1001px;
            height: 457px;
            @include background($path + '/img-technology-overlay.png', no-repeat, top left, transparent);
            z-index: 10;
            position: relative;

            .titles
            {
              width: 1001px;
              height: 457px;

              a
              {
                width: auto;
                height: auto;

                &.title1
                {
                  width: 237px;
                  height: 51px;
                  @include background($path + '/img-tech-title1.png', no-repeat, top left, transparent);

                  position: absolute;
                  top: 62px;
                  left: 83px;
                }

                &.title2
                {
                  width: 294px;
                  height: 51px;
                  @include background($path + '/img-tech-title2.png', no-repeat, top left, transparent);

                  position: absolute;
                  top: 135px;
                  left: 0px;
                }

                &.title3
                {
                  width: 244px;
                  height: 51px;
                  @include background($path + '/img-tech-title3.png', no-repeat, top left, transparent);

                  position: absolute;
                  top: 205px;
                  left: 78px;
                }

                &.title4
                {
                  width: 215px;
                  height: 51px;
                  @include background($path + '/img-tech-title4.png', no-repeat, top left, transparent);

                  position: absolute;
                  top: 0px;
                  right: 40px;
                }

                &.title5
                {
                  width: 215px;
                  height: 51px;
                  @include background($path + '/img-tech-title5.png', no-repeat, top left, transparent);

                  position: absolute;
                  top: 90px;
                  right: 0px;
                }

                &.title6
                {
                  width: 214px;
                  height: 78px;
                  @include background($path + '/img-tech-title6.png', no-repeat, top left, transparent);

                  position: absolute;
                  top: 170px;
                  right: 21px;
                }

                &.title7
                {
                  width: 189px;
                  height: 51px;
                  @include background($path + '/img-tech-title7.png', no-repeat, top left, transparent);

                  position: absolute;
                  top: 265px;
                  right: 70px;
                }

                &:hover
                {
                  background-position: bottom left;
                }
              }
            }
        }

        .choices
        {
            margin: 300px 0px 0px 315px;
            width: 452px;
            height: 88px;
            @include background($path + '/bg-preview-choices.png', no-repeat, top left, transparent);
            z-index: 15;
            float: left;
            position: relative;

            ul
            {
                width: auto;
                height: auto;
                margin: 15px 0px 0px 35px;

                li + li
                {
                    margin-left: 3px;
                }

                li
                {
                    width: 48px;
                    height: 61px;
                    list-style-type: none;
                    float: left;

                    a
                    {
                        width: 48px;
                        height: 61px;
                        display: block;
                        opacity: 0.4;

                        &.rim-small
                        {
                            width: 48px;
                            height: 61px;
                            display: block;
                        }
                    }

                    a.active
                    {
                        opacity: 1.0;
                    }
                }
            }
        }

        .rim
        {
            margin: -580px 0px 0px 277px;
            width: 514px;
            height: 533px;
            z-index: 1;
            position: relative;

            img
            {
              position: absolute;
            }

            .show
            {
              display: block;
            }

            .hide
            {
              display: none;
            }
        }
    }
  }
}