/**/
@import "../global/variables";
@import "../global/mixins";

.body
{
    margin: 0px auto;
    padding: 15px 0px 0px 0px;
    height: auto;
    width: 100%;
    @include background($path + '/bg-content.png', repeat-x, top center, transparent);
    overflow: hidden;

    .content-container
    {
        &.home
        {
          @include background($path + '/bg-home-content.png', no-repeat, top center, transparent);
        }

        &.interior
        {
          @include background($path + '/bg-interior-content.png', no-repeat, top center, transparent);
        }
    }
    .content-container
    {
        margin: 0px auto;
        padding: 0px 0px 30px 0px;
        height: auto;
        width: 100%;

        &.interior
        {
          padding: 0px 0px 30px 0px;
          background: none;
          height: auto;
        }

        .content
        {
            margin: 0px auto;
            width: 980px;
            height: auto;
            color: #fafafa;
            display: block;

            fieldset {
              // background: rgba(0, 0, 0, 0.2);
              width: auto;
              height: auto;
              background: transparent;
              border: 1px solid #222;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              -o-border-radius: 5px;
              -ms-border-radius: 5px;
              -khtml-border-radius: 5px;
              border-radius: 5px;
              margin: 20px 0px 0px 0px;
              padding: 5px;

              form
              {
                padding: 10px 20px 10px 20px;
              }

              .links
              {
                padding: 10px 20px 10px 20px;

                ul + ul
                {
                  margin: 15px 0px 0px 0px;
                }

                ul
                {
                  margin: 0px;
                  padding: 0px;
                  list-style-type: none;

                  &:last-child
                  {
                    margin: 15px 0px 10px 0px;
                  }

                  li + li
                  {
                    padding-left: 10px;
                  }

                  li
                  {
                    display: inline-block;

                    a
                    {
                      &.btn
                      {
                        padding: 7px 10px 6px 10px;
                        width: auto;
                        height: auto;
                        display: block;
                        color: #fafafa;
                        border: none;
                        -moz-border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -o-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -khtml-border-radius: 5px;
                        cursor: pointer;
                        text-shadow: #000 0px 1px 2px;

                        &.blue
                        {
                          background-color: rgb(26,182,255);
                          background-color: rgba(26,182,255,0.92);
                          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0092ce), to(#003e63));
                        }
                      }
                    }
                  }
                }
              }
            }

            legend {
              font-family: EurostileMed, Helvetica, Arial, sans-serif;
              font-size: 16px;
              font-weight: 400;
              padding: 0px 5px;
              margin: 14px;
              color: #aaa;
              text-transform: uppercase;
            }

            .title-container
            {
              width: auto;
              height: auto;

              .title
              {
                font-family: EurostileMed, Helvetica, Arial, sans-serif;
                padding: 15px 0px 0px 0px;
                font-size: 40px;
                text-transform: uppercase;
                color: #1ab6ff;
                -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1.0)), to(rgba(0,0,0,0.3)));
                text-shadow: #000 0px 1px 2px;
              }
            }
        }
    }
}

.pad
{
  &.left5
  {
    margin-left: 5px;
  }

  &.right5
  {
    margin-right: 5px;
  }

  &.top5
  {
    margin-top: 5px;
  }

  &.bottom5
  {
    margin-bottom: 5px;
  }

  &.left10
  {
    margin-left: 10px;
  }

  &.right10
  {
    margin-right: 10px;
  }

  &.top10
  {
    margin-top: 10px;
  }

  &.bottom10
  {
    margin-bottom: 10px;
  }
}
