/**/
@import "../global/variables";
@import "../global/mixins";

.body
{
    margin: 0px auto;
    padding: 15px 0px 0px 0px;
    height: auto;
    width: 100%;
    @include background($path + '/bg-content.png', repeat-x, top center, transparent);
    overflow: hidden;

    .content-container
    {
        &.home
        {
          @include background($path + '/bg-home-content.png', no-repeat, top center, transparent);
        }

        &.interior
        {
          @include background($path + '/bg-interior-content.png', no-repeat, top center, transparent);
        }
    }
    .content-container
    {
        margin: 0px auto;
        padding: 0px 0px 30px 0px;
        height: auto;
        width: 100%;

        &.interior
        {
          padding: 0px 0px 30px 0px;
          background: none;
          height: auto;
        }

        .content
        {
            margin: 0px auto;
            width: 980px;
            height: auto;
            color: #fafafa;
            display: block;

            .border
            {
              background: rgba(25, 25, 25, 0.8);
              border: 1px solid #222;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              -o-border-radius: 5px;
              -ms-border-radius: 5px;
              -khtml-border-radius: 5px;
              border-radius: 5px;
              padding: 10px;
            }

            fieldset {
              // background: rgba(0, 0, 0, 0.2);
              width: auto;
              height: auto;
              background: transparent;
              border: 1px solid #222;
              -moz-border-radius: 5px;
              -webkit-border-radius: 5px;
              -o-border-radius: 5px;
              -ms-border-radius: 5px;
              -khtml-border-radius: 5px;
              border-radius: 5px;
              margin: 20px 0px 0px 0px;
              padding: 5px;

              ul
              {
                margin: 0px;
                padding: 0px;
                list-style-type: none;

                li + li
                {
                  padding-left: 25px;
                }

                li
                {
                  display: inline-block;

                  &:first-child
                  {
                    padding-left: 25px;
                  }
                }
              }

              .table
              {
                margin: 20px 20px 20px 20px;
              }
              
              .instructions
              {
                margin: 20px 20px 10px 20px;
              }

              table
              {
                width: 100%;
                border: 1px solid #222;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                -o-border-radius: 5px;
                -ms-border-radius: 5px;
                -khtml-border-radius: 5px;
                border-radius: 5px;

                thead
                {
                  width: 100%;

                  tr
                  {
                    background-color: #252525;

                    th
                    {
                      padding: 10px;
                      color: #aaa;
                      font-family: EurostileMed, Helvetica, Arial, sans-serif;
                      font-size: 13px;
                      font-weight: 400;
                      white-space: nowrap;
                      border-left: 1px solid #000;
                    }
                  }
                }

                tbody
                {
                  width: 100%;

                  tr
                  {
                    th
                    {
                      color: #aaa;
                      font-family: EurostileMed, Helvetica, Arial, sans-serif;
                      font-size: 13px;
                      font-weight: 400;
                      height: auto;
                      vertical-align: middle;
                      border-bottom: 1px solid #222;
                      padding: 5px 10px 5px 10px;
                      border-left: 1px solid #222;
                      // white-space: nowrap;
                      background: #111;
                      text-align: left;
                    }
                  }
                }
              }

              form
              {
                padding: 10px 20px 10px 20px;
              }

              .links
              {
                padding: 10px 20px 10px 20px;

                ul + ul
                {
                  margin: 15px 0px 0px 0px;
                }

                ul
                {
                  margin: 0px;
                  padding: 0px;
                  list-style-type: none;

                  &.border
                  {
                    background: rgba(25, 25, 25, 0.8);
                    border: 1px solid #222;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -o-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -khtml-border-radius: 5px;
                    border-radius: 5px;
                    padding: 10px;
                  }

                  &:last-child
                  {
                    margin: 15px 0px 10px 0px;
                  }

                  li + li
                  {
                    padding-left: 10px;
                  }

                  li
                  {
                    display: inline-block;

                    &.divider
                    {
                      margin: 0px 0px 0px 10px;
                      padding: 0px 0px 0px 0px;
                      border-left: 1px dotted;
                      width: 1px;
                      height: 20px;
                      color: #333;
                      vertical-align: bottom;
                    }
                  }
                }
              }
            }

            legend {
              font-family: EurostileMed, Helvetica, Arial, sans-serif;
              font-size: 16px;
              font-weight: 400;
              padding: 0px 5px;
              margin: 14px;
              color: #aaa;
              text-transform: uppercase;
            }

            .title-container
            {
              width: auto;
              height: auto;

              .title
              {
                font-family: EurostileMed, Helvetica, Arial, sans-serif;
                padding: 15px 0px 0px 0px;
                font-size: 40px;
                text-transform: uppercase;
                color: #1ab6ff;
                -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1.0)), to(rgba(0,0,0,0.3)));
                text-shadow: #000 0px 1px 2px;
              }

              .sub-title
              {
                font-size: 18px;
                padding: 0px 0px 10px 0px;
                font-family: EurostileMed, Helvetica, Arial, sans-serif;
                font-weight: 400;
              }
            }

            &.admin
            {
               ul
               {
                 margin: 20px 0px 20px 0px;
                 padding: 0px;
                 list-style-type: none;

                 li + li
                 {
                   padding-top: 20px;
                   display: block;
                 }
               }
            }

            &.contact
            {
                margin: 0px auto;
                width: 980px;
                height: auto;

                .title-container
                {
                  .title
                  {
                    font-size: 50px !important;
                  }

                  .sub-title
                  {
                    margin: 0px 0px 0px 4px;
                    color: #fafafa;
                  }

                  .small-title
                  {
                    margin: 0px 0px 0px 4px;
                    font-size: 15px;
                    color: #ccc;
                  }
                }

                .text-container
                {
                    clear: both;
                    text-shadow: 0px 1px 2px #333;
                    color: #fafafa;

                    h4
                    {
                        font-size: 22px;
                        padding: 0px 0px 10px 0px;
                        font-family: EurostileMed, Helvetica, Arial, sans-serif;
                        font-weight: 700;
                    }

                    p
                    {
                        font-size: 15px;
                    }
                }
            }

            &.generator
            {
              margin: 0px auto;
              width: 980px;
              height: auto;

              .title-container
              {
                .title
                {
                  font-size: 50px !important;
                }

                .sub-title
                {
                  margin: 0px 0px 0px 4px;
                  color: #fafafa;
                }

                .small-title
                {
                  margin: 0px 0px 0px 4px;
                  font-size: 15px;
                  color: #ccc;
                }
              }

              .container
              {
                  clear: both;
                  padding: 17px 0px 0px 0px;

                  .left-column
                  {
                      width: 413px;
                      height: 332px;
                      float: left;
                      margin: 20px 0px 0px -10px;

                      .overlay
                      {
                          width: inherit;
                          height: inherit;
                          margin: 0px 0px 0px 10px;
                          padding: 0px;
                          @include background($path + '/img-preview-overlay.png', no-repeat, 0px 6px, transparent);
                          z-index: 20;
                          float: left;
                          position: relative;
                      }

                      .image
                      {
                          width: inherit;
                          height: inherit;
                          margin: -326px 0px 0px 10px;
                          @include background($path + '/img-uploaded.png', no-repeat, top left, transparent);
                          float: left;
                          position: relative;
                      }

                      .frame
                      {
                          width: inherit;
                          height: inherit;
                          margin: -336px 0px 0px 0px;
                          @include background($path + '/bg-frame-generator.png', no-repeat, top left, transparent);
                          z-index: 25;
                          float: left;
                          position: relative;
                      }

                      .upload-button
                      {
                          margin: 205px 0px 0px 55px;
                          padding: 54px 0px 0px 0px;
                          width: 323px;
                          height: 212px;
                          @include background($path + '/button-upload-image.png', no-repeat, 0px -70px, transparent);
                          position: absolute;
                          z-index: 30;

                          a
                          {
                              margin: 10px 0px 0px 70px;
                              width: 170px;
                              height: 41px;
                              display: block;
                              text-indent: -9000px;

                          }
                      }
                  }

                  .middle-column
                  {
                      width: 114px;
                      height: 191px;
                      float: left;

                      .arrow
                      {
                          margin: 50px 0px 0px 35px;
                          width: inherit;
                          height: inherit;
                          @include background($path + '/img-arrow-generator.png', no-repeat, top left, transparent);
                      }
                  }

                  .right-column
                  {
                      margin: -330px 0px 0px 0px;
                      width: 500px;
                      height: auto;
                      float: right;

                      .preview-title
                      {
                          margin: 0px 0px 0px 225px;
                          width: 165px;
                          height: 57px;
                          @include background($path + '/title-preview.png', no-repeat, top left, transparent);
                      }

                      .choices
                      {
                          margin: 350px 0px 0px 100px;
                          width: 452px;
                          height: 88px;
                          @include background($path + '/bg-preview-choices.png', no-repeat, top left, transparent);
                          z-index: 15;
                          float: left;
                          position: relative;

                          ul
                          {
                              width: auto;
                              height: auto;
                              margin: 15px 0px 0px 35px;

                              li + li
                              {
                                  margin-left: 3px;
                              }

                              li
                              {
                                  width: 48px;
                                  height: 61px;
                                  list-style-type: none;
                                  float: left;

                                  a
                                  {
                                      width: 48px;
                                      height: 61px;
                                      display: block;
                                      opacity: 0.4;

                                      &.rim1
                                      {
                                        @include background($path + '/img-rim-small1.png', no-repeat, top left, transparent);
                                      }

                                      &.rim2
                                      {
                                        @include background($path + '/img-rim-small2.png', no-repeat, top left, transparent);
                                      }

                                      &.rim3
                                      {
                                        @include background($path + '/img-rim-small3.png', no-repeat, top left, transparent);
                                      }

                                      &.rim4
                                      {
                                        @include background($path + '/img-rim-small4.png', no-repeat, top left, transparent);
                                      }

                                      &.rim5
                                      {
                                        @include background($path + '/img-rim-small5.png', no-repeat, top left, transparent);
                                      }

                                      &.rim6
                                      {
                                        @include background($path + '/img-rim-small6.png', no-repeat, top left, transparent);
                                      }

                                      &.rim7
                                      {
                                        @include background($path + '/img-rim-small7.png', no-repeat, top left, transparent);
                                      }
                                  }

                                  a.active
                                  {
                                      opacity: 1.0;
                                  }
                              }
                          }
                      }

                      .rim-preview
                      {
                          width: 544px;
                          height: 400px;
                          @include background($path + '/img-generator-preview.png', no-repeat, 40px -80px, transparent);
                      }
                  }
              }
            }

            &.media
            {
              margin: 0px auto;
              width: 980px;
              height: auto;

              .title-container
              {
                .title
                {
                  font-size: 50px !important;
                }

                .sub-title
                {
                  color: #fafafa;
                  margin: 0px 0px 0px 4px;
                }
              }

              .text-container
              {
                  clear: both;
                  text-shadow: 0px 1px 2px #333;
                  color: #fafafa;

                  h4
                  {
                      font-size: 22px;
                      padding: 0px 0px 10px 0px;
                      font-family: EurostileMed, Helvetica, Arial, sans-serif;
                      font-weight: 700;
                  }
              }

              .container
              {
                  width: auto;
                  height: auto;
                  padding: 17px 0px 0px 0px;
                  display: block;

                  .left-column
                  {
                      margin: 0px 0px 0px 10px;
                      width: 702px;
                      height: 372px;
                      position: relative;
                      left: 0px;
                      top: 0px;
                      display: inline-block;
                      
                      .video-title
                      {
                        margin: 0px 0px 10px 0px;
                        font-family: EurostileMed, Helvetica, Arial, sans-serif;
                        font-weight: 400;
                        font-size: 14px !important;
                        color: #ffffff;
                      }

                      iframe
                      {
                          display: inline-block;
                          border: 1px solid #2d2d2d;
                      }
                  }

                  .right-column
                  {
                      margin: 0px 0px 0px 10px;
                      width: 245px;
                      height: 372px;
                      position: relative;
                      right: 0px;
                      top: 0px;
                      display: inline-block;

                      ul
                      {
                          margin: 0px;
                          padding: 0px;
                          width: inherit;
                          height: inherit;
                          overflow: auto;

                          li
                          {
                              padding: 0px 0px 12px 0px;
                              list-style-type: none;
                              display: block;
                          }
                      }
                  }
              }
            }

            &.technology
            {
              margin: 0px auto;
              width: 980px;
              height: auto;

              .title-container
              {
                .title
                {
                  font-size: 50px !important;
                }

                .sub-title
                {
                  color: #fafafa;
                  margin: 0px 0px 0px 10px;
                }
              }

              #tech-overlay
              {
                display: none;
                width: 100%;
                height: 100%;
                position: fixed;
                z-index: 999;
                margin: 0px auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                @include background($path + '/bg-overlay.png', repeat, top left, transparent);

                .overlay-container
                {
                    display: none;
                    margin: 0px auto;
                    padding: 0px;
                    width: auto;
                    height: auto;
                    z-index: 1000;

                    clear: both;
                    text-shadow: 0px 1px 2px #333;
                    font-size: 12px;
                    line-height: 25px;
                    color: #fafafa;
                    letter-spacing: 1.0;

                    font-family: EurostileMed, Helvetica, Arial, sans-serif;
                    font-weight: 400;

                  .top
                  {
                    width: 724px;
                    height: 159px;
                    @include background($path + '/bg-tech-overlay-top.png', no-repeat, top left, transparent);

                    .close-button
                    {
                      margin: 70px 72px 0px 0px;
                      width: 18px;
                      height: 18px;
                      float: right;
                      position: relative;

                      a
                      {
                        width: inherit;
                        height: inherit;
                        float: left;
                        @include background($path + '/button-tech-overlay-close.png', no-repeat, top left, transparent);

                        &:hover
                        {
                          background-position: bottom left;
                        }
                      }
                    }

                    .title
                    {
                      margin: -15px 0px 0px 90px;
                      padding: 10px 0px 0px 0px;
                      width: 550px;
                      line-height: 40px;
                      height: auto;
                      font-family: EurostileMed, Helvetica, Arial, sans-serif;
                      font-size: 35px !important;
                      color: #18c6fe;
                      background: none;
                      float: left;
                      text-indent: 0px;
                      text-transform: uppercase;
                    }

                    .sub-title
                    {
                      margin: 0px 0px 0px 90px;
                      width: 605px;
                      height: auto;
                      float: left;

                      h4
                      {
                          font-family: EurostileMed, Helvetica, Arial, sans-serif;
                          font-size: 18px;
                          padding: 10px 0px 10px 0px;
                          font-weight: 400;
                          color: #ccc !important;
                      }

                    }
                  }

                  .middle
                  {
                    width: 724px;
                    height: auto;
                    @include background($path + '/bg-tech-overlay-middle.png', repeat-y, top left, transparent);
                    display: block;

                    p
                    {
                      margin: 0px 0px 0px 90px;
                      width: 560px;
                      height: auto;
                      font-size: 14px;
                    }
                  }

                  .bottom
                  {
                    width: 735px;
                    height: 70px;
                    @include background($path + '/bg-tech-overlay-bottom.png', no-repeat, top left, transparent);
                  }
                }
              }

              .technology-content
              {
                  clear: both;
                  padding: 50px 0px 0px 0px;

                  .overlay
                  {
                      margin: -70px 0px 0px -15px;
                      width: 1001px;
                      height: 457px;
                      @include background($path + '/img-technology-overlay.png', no-repeat, top left, transparent);
                      z-index: 10;
                      position: relative;

                      .titles
                      {
                        width: 1001px;
                        height: 457px;

                        a
                        {
                          width: auto;
                          height: auto;

                          &.title1
                          {
                            width: 237px;
                            height: 51px;
                            @include background($path + '/img-tech-title1.png', no-repeat, top left, transparent);

                            position: absolute;
                            top: 62px;
                            left: 83px;
                          }

                          &.title2
                          {
                            width: 294px;
                            height: 51px;
                            @include background($path + '/img-tech-title2.png', no-repeat, top left, transparent);

                            position: absolute;
                            top: 135px;
                            left: 0px;
                          }

                          &.title3
                          {
                            width: 244px;
                            height: 51px;
                            @include background($path + '/img-tech-title3.png', no-repeat, top left, transparent);

                            position: absolute;
                            top: 205px;
                            left: 78px;
                          }

                          &.title4
                          {
                            width: 215px;
                            height: 51px;
                            @include background($path + '/img-tech-title4.png', no-repeat, top left, transparent);

                            position: absolute;
                            top: 0px;
                            right: 40px;
                          }

                          &.title5
                          {
                            width: 215px;
                            height: 51px;
                            @include background($path + '/img-tech-title5.png', no-repeat, top left, transparent);

                            position: absolute;
                            top: 90px;
                            right: 0px;
                          }

                          &.title6
                          {
                            width: 214px;
                            height: 78px;
                            @include background($path + '/img-tech-title6.png', no-repeat, top left, transparent);

                            position: absolute;
                            top: 170px;
                            right: 21px;
                          }

                          &.title7
                          {
                            width: 189px;
                            height: 51px;
                            @include background($path + '/img-tech-title7.png', no-repeat, top left, transparent);

                            position: absolute;
                            top: 265px;
                            right: 70px;
                          }

                          &:hover
                          {
                            background-position: bottom left;
                          }
                        }
                      }
                  }

                  .choices
                  {
                      margin: 300px 0px 0px 315px;
                      width: 452px;
                      height: 88px;
                      @include background($path + '/bg-preview-choices.png', no-repeat, top left, transparent);
                      z-index: 15;
                      float: left;
                      position: relative;

                      ul
                      {
                          width: auto;
                          height: auto;
                          margin: 15px 0px 0px 35px;

                          li + li
                          {
                              margin-left: 3px;
                          }

                          li
                          {
                              width: 48px;
                              height: 61px;
                              list-style-type: none;
                              float: left;

                              a
                              {
                                  width: 48px;
                                  height: 61px;
                                  display: block;
                                  opacity: 0.4;

                                  &.rim-small
                                  {
                                      width: 48px;
                                      height: 61px;
                                      display: block;
                                  }
                              }

                              a.active
                              {
                                  opacity: 1.0;
                              }
                          }
                      }
                  }

                  .rim
                  {
                      margin: -580px 0px 0px 277px;
                      width: 514px;
                      height: 533px;
                      z-index: 1;
                      position: relative;

                      img
                      {
                        position: absolute;
                      }

                      .show
                      {
                        display: block;
                      }

                      .hide
                      {
                        display: none;
                      }
                  }
              }
            }
        }
    }
}

.pad
{
  &.all10
  {
    margin: 10px;
  }
  &.left5
  {
    margin-left: 5px;
  }

  &.right5
  {
    margin-right: 5px;
  }

  &.top5
  {
    margin-top: 5px;
  }

  &.bottom5
  {
    margin-bottom: 5px;
  }

  &.left10
  {
    margin-left: 10px;
  }

  &.right10
  {
    margin-right: 10px;
  }

  &.top10
  {
    margin-top: 10px;
  }

  &.bottom10
  {
    margin-bottom: 10px;
  }
}

.uppercase
{
  font-family: EurostileMed, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #aaa;
  text-transform: uppercase;
}

.grey
{
  color: #7F7F7F;
}

.blue
{
  color: #0092ce;
}

.large-text
{
  font-size: 200%;
}

.medium-text
{
  font-size: 150%;
}

a, button
{
  &.btn
  {
    font-family: EurostileMed, Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 7px 10px 6px 10px;
    width: auto;
    height: auto;
    display: block;
    color: #fafafa;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    cursor: pointer;
    text-shadow: #000 0px 1px 2px;
    display: inline-block;


    &.blue
    {
      background-color: rgb(26,182,255);
      background-color: rgba(26,182,255,0.92);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0092ce), to(#003e63));
    }

    &.black
    {
      background-color: rgb(66,66,66);
      background-color: rgba(66,66,66,0.92);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#424242), to(#161414));
    }

    &.small
    {
      height: 15px !important;
    }

    &.large
    {
      padding: 10px 10px 7px 10px;
      font-size: 125%;
    }

    &.orange
    {
      background-color: rgb(208,134,45);
      background-color: rgba(208,134,45, 0.92);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0862d), to(#bd4838));
    }
    
    &:hover
    {
      text-decoration: normal;
      font-weight: 400;
    }
  }
}

.border
{
  background: rgba(25, 25, 25, 0.8);
  border: 1px solid #222;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}

.center
{
  margin: 0px auto;
  text-align: center;
}

.left
{
  margin: 0px;
  padding: 0px;
  float: left;
}

.right
{
  margin: 0px;
  padding: 0px;
  float: right;
}

.align-left
{
  text-align: left;
}

.align-right
{
  text-align: right;
}