/**/
@import "../global/variables";

a:link, 
a:hover, 
a:active,
a:visited
{ 
    color:#59BAEF; 
    text-decoration:none; 
    white-space:nowrap; 
} 
a
{ 
    outline:none; 
} 
a.link
{ 
    background:transparent url('a-bg.png') no-repeat -81px bottom; 
}


.body
{
    margin: 0px auto;
    padding: 15px 0px 0px 0px;
	  height: auto;
  	width: 100%;
    background: url( 'bg-content.png' ) repeat-x top center transparent;
    overflow: hidden;

    .rim-container
    {
        margin: 0px auto;
        height: 604px;
        width: 100%;

        .rim-buttons
        {
            margin: -604px auto;
            width: 980px;
            height: 604px;
            position: relative;
            display: block;
            z-index: 20;
            //background: url( 'img-home-rim-large.png' ) no-repeat top left transparent;

            .arrow
            {
                width: 107px;
                height: 176px;
                background: url( 'button-rim-arrows.png' ) no-repeat top left transparent;

                &.left
                {
                    width: 107px;
                    height: 176px;
                    position: relative;
                    left: -96px;
                    top: 300px;
                    float: left;
                    background-position: top left;
                }

                &.right
                {
                    width: 107px;
                    height: 176px;
                    position: relative;
                    right: -96px;
                    top: 300px;
                    float: right;
                    background-position: top right;
                }

                a
                {
                    width: 107px;
                    height: 176px;
                    float: left;
                }
            }
        }

        .rims-large
        {
            margin: 0px auto;
            width: 980px;
            height: 604px;
            overflow: hidden;
            position: relative;
            z-index: 10;
            display: block;

            ul
            {
                width: 980px;
                height: 604px;
                float: left;

                li
                {
                    margin: 0px 0px 0px -25px;
                    width: 980px;
                    height: 604px;
                    float: left;
                    list-style-type: none;
                }
            }
        }
    }

    .rim-select
    {
        margin: 0px auto;
        height: auto;
        width: 100%;
        background: url( 'bg-rim-select.png' ) repeat-x top left transparent;

        .rim-reflection
        {
            margin: 0px auto;
            width: 980px;
            height: 44px;
            background: url( 'bg-rim-reflection.png' ) no-repeat top left transparent;
            display: block;

            .reflection
            {
                height: 44px;
                width: 98px;
                background: url( 'img-arrow-reflection.png' ) no-repeat top left transparent;
    
                &.left {
                    margin: 0px 0px 0px 0px;
                    background-position: top left;
                    position: relative;
                    left: -98px;
                    float: left;
                }

                &.right {
                    margin: 0px 0px 0px 0px;
                    background-position: top right;
                    position: relative;
                    right: -98px;
                    float: right;
                }
            }

            .buttons
            {
                margin: 0px auto;
                width: 780px;
                height: inherit;
                float: left;

                ul
                {
                    margin: 0px auto;
                    width: auto;
                    width: 315px;
                    height: inherit;

                    li
                    {
                        height: auto;
                        width: auto;
                        list-style: none;

                        a {
                            height: 44px;
                            width: 45px;
                            background: url( 'button-rim-select.png' ) no-repeat bottom center transparent;
                            float: left;
                            text-indent: -9000px;

                            &.active {
                                height: 44px;
                                width: 45px;
                                background-position: top center;
                            }

                            &:hover {
                                height: 44px;
                                width: 45px;
                                background-position: top center;
                            }

                            &:active {
                                height: 44px;
                                width: 45px;
                                background-position: top center;
                            }
                        }
                    }
                }
            }
        }
    }

    .content-container
    {
        &.home
        {
            background: url( 'bg-home-content.png' ) no-repeat top center  transparent;
        }

        &.interior
        {
            background: url( 'bg-interior-content.png' ) no-repeat top center  transparent;
        }
    }
    .content-container
    {
        margin: 0px auto;
        padding: 0px 0px 25px 0px;
        height: auto;
        width: 100%;


        .content
        {
            margin: 0px auto;
            width: 980px;
            height: 367px;

            .left-column
            {
                margin: 0px 0px 0px -30px;
                width: 305px;
                height: auto;
                position: relative;
                float: left;
                
                .rim-preview
                {
                    margin: 0px;
                    height: 303px;
                    width: 313px;
                    background: url( 'img-rim-preview.png' ) no-repeat top left transparent;
                }

                .try-it
                {
                    margin: -60px 0px 0px 75px;
                    padding: 54px 0px 0px 0px;
                    width: 212px;
                    height: 205px;
                    background: url( 'button-tryitout.png' ) no-repeat -120px -130px transparent;
                    position: absolute;
                    z-index: 1;

                    a
                    {
                        margin: 0px 0px 0px 18px;
                        width: 141px;
                        height: 37px;
                        display: block;
                        text-indent: -9000px;

                    }
                }
            }

            .right-column
            {
                width: 705px;
                height: auto;
                position: relative;
                float: right;

                .title-container
                {
                    width: auto;
                    height: auto;
                    display: block;
                    
                    .title
                    {
                        margin: 20px 0px 0px -16px;
                        height: 90px;
                        width: 387px;
                        float: left;
                        text-indent: -9000px;
                        background: url( 'title-dubleds.png' ) no-repeat top left transparent;
                    }

                    .usb-built-in
                    {
                        margin: 45px 0px 0px 0px;
                        height: 38px;
                        width: 133px;
                        background: url( 'img-usb-builtin.png' ) no-repeat top left transparent;
                        float: right;
                    }
                }

                .text-container
                {
                    clear: both;
                    text-shadow: 0px 1px 2px #333;
                    color: #ffffff;

                    h4
                    {
                        font-size: 22px;
                        padding: 0px 0px 24px 0px;
                    }

                    p
                    {
                        font-size: 15px;
                    }

                    ul
                    {
                        margin: 20px 0px 0px -7px;
                        width: auto;
                        height: auto;
                        float: left;
                        
                        li
                        {
                            width: auto;
                            height: 25px;
                            background: url('img-bullet-point.png') no-repeat 0px 0px transparent;
                            list-style-type: none;
                            margin: 0;
                            padding: 2px 0px 0px 27px;
                            vertical-align: middle;
                        }
                    }

                    ul + ul
                    {
                        padding: 0px 0px 0px 20px;
                    }
                }
            }
        }
    }
}
