/* Include Mixins & CSS3 Stuff */
@import "../global/variables";
@import "../global/mixins";

footer
{
    height: 67px;
    width: 100%;
    @include background($path + '/bg-footer-bar.png', repeat-x, top left, transparent);

    .footer-container
    {
        margin: 0px auto;
        height: 67px;
        width: 980px;
        position: relative;
        z-index: 20;

        .left-column
        {
            width: auto;
            height: auto;
            float: left;

            .logo
            {
                margin: 23px 0px 0px 0px;
                height: 15px;
                width: 102px;
                float: left;
                @include background($path + '/img-footer-logo.png', no-repeat, top left, transparent);
            }

            .email-updates
            {
                margin: 13px 0px 0px 20px;
                width: auto;
                height: auto;
                float: left;

                input[type=text]
                {
                    padding: 3px 0px 0px 8px;
                    height: 31px;
                    width: 250px;
                    font-family: EurostileMed, Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 12px;
                    @include background($path + '/input-email.png', no-repeat, 1px 3px, transparent);
                    border: none;
                    color: #7f7f7f;
                }

                input[type=submit]
                {
                    margin: 3px 0px 0px -7px;
                    height: 31px;
                    width: 32px;
                    text-indent: -9000px;
                    @include background($path + '/button-submit.png', no-repeat, top left, transparent);
                    border: none;
                }
            }
        }

        .right-column
        {
            width: auto;
            height: auto;
            float: right;

            .order
            {
                margin: 10px 0px 0px 0px;
                width: 106px;
                height: 43px;
                float: left;

                a
                {
                    width: 106px;
                    height: 43px;
                    float: left;
                    text-indent: -9000px;
                    @include background($path + '/button-order.png', no-repeat, top left, transparent);

                    &:hover
                    {
                      background-position: bottom left;
                    }
                }
            }

            ul
            {
                margin: 16px 0px 0px 10px;
                width: auto;
                height: auto;
                float: right;

                li
                {
                    width: 31px;
                    height: 31px;
                    float: left;
                    list-style-type: none;

                    a
                    {
                        width: 31px;
                        height: 31px;
                        text-indent: -9000px;
                        float: left;

                        &.facebook
                        {
                          @include background($path + '/img-sharing-facebook.png', no-repeat, top left, transparent);
                        }

                        &.twitter
                        {
                          @include background($path + '/img-sharing-twitter.png', no-repeat, top left, transparent);
                        }

                        &.flickr
                        {
                          @include background($path + '/img-sharing-flickr.png', no-repeat, top left, transparent);
                        }

                        &.linkedin
                        {
                          @include background($path + '/img-sharing-linkedin.png', no-repeat, top left, transparent);
                        }

                        &:active
                        {
                            background-position: bottom center;
                        }

                        &:hover
                        {
                            background-position: bottom center;;
                        }

                        &.active
                        {
                            background-position: bottom center;;
                        }
                    }
                }

                li + li
                {
                    padding: 0px 0px 0px 10px;
                }
            }
        }
    }

    .spacer
    {
        height: 100px;
        width: 100%;
        @include background($path + '/bg-footer.png', no-repeat, top left, transparent);

        .copyright
        {
            margin: 0px auto;
            padding: 10px 0px 0px 0px;
            height: 67px;
            width: 980px;
            font-family: EurostileMed, Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: #777777;

            .links
            {
              margin: 0px 0px 0px 10px;
              width: auto;
              display: inline-block;

              a + a{
                margin-left: 10px;
              }

              a{
                font-size: 12px;
              }
            }
        }
    }
}
