/* Include Mixins & CSS3 Stuff */
@import "../global/variables";
@import "../global/mixins";

header
{
    background-position: top center;

    margin: 0px auto;
    height: 400px;
    width: 100%;
    display: inline-block;

    .fade
    {
      &.active
      {
        color: #59B7FF;
      }
    }

    .logo {
        margin: 90px auto;
        width: 708px;
        height: 339px;
        @include background($path + '/dub-logo-home.png', no-repeat, top left, transparent);
    }
}
