/* Include Mixins & CSS3 Stuff */
@import "../variables";

header
{
    background-position: top center;

    margin: 0px auto;
    height: 326px;
    width: 100%;
    display: inline-block;

    nav
    {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 65px;
        background: url( 'bg-header-nav.png' ) repeat-x top center transparent;
        display: block;
        position: fixed;
        z-index: 999;

        ul
        {
            margin: 0px auto;
            width: 600px;
            height: inherit;
            display: none;

            li
            {
                margin: 10px 0px 0px 0px;
                height: 30px;
                width: auto;
                list-style: none;
                float: left;
                overflow: hidden;

                a, span
                {
                    height: 40px;
                    width: auto;
                    font-family: "Helvetica";
                    font-size: 13.5pt;
                    font-weight: normal;
                    line-height: 20px;
                    color: #ffffff;
                    clear: both;
                    float: left;
                    text-transform: uppercase;
                    cursor: pointer;

                    &:hover
                    {
                        color: #59b7ff;
                        text-decoration: none;
                    }

                    &.active
                    {
                        color: #59b7ff;
                    }


                }

                a {
                    color: #59b7ff;
                    background-position: left bottom;
                }
                span {
                    background-position: left top;
                }
            }

            li + li {
                padding: 0px 0px 0px 32px;
            }

            li:last-child { padding: 0 0 0 25px; }
        }

        .glow {
            margin: -41px 0px 0px 0px;
            width: 158px;
            height: 23px;
            background: url( 'header-link-glow.png' ) no-repeat top left transparent;
            position: relative;
            display: none;
        }
    }

    .logo {
        margin: 25px auto;
        width: 708px;
        height: 339px;
        background: url( 'dub-logo-home.png' ) no-repeat top left transparent;
    }
}
