/* Include Mixins & CSS3 Stuff */
@import "../global/variables";
@import "../global/mixins";

.title-container
{
  .notification
  {
    margin: 10px 0px 10px 0px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  }
}

.notification
{
  margin: -24px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  height: 41px;
  background-color: rgba(89, 183, 255, 0.7);
  position: relative;

  // &.notice
  // {
  //   background-color: #59B7FF;
  //   border: 2px solid #00A9ED;
  // }
  //
  // &.error
  // {
  //   background-color: red;
  // }
  //
  // &.success
  // {
  //   background-color: green;
  // }

  .text
  {
    width: auto;
    height: auto;
    padding: 13px 10px 10px 10px;
    text-align: center;
    display: block;
    color: #fafafa;
    font-size: 15px;

    h2
    {
      margin: 0px;
      padding: 0px;
    }
  }

  .full
  {

  }

  &.alert
  {
    background-color: rgba(160, 32, 15, 0.7) !important;
  }

  .flash
  {

  }
}