.title New privacy policy
.text-container
  %fieldset
    %legend Policy Information
    = render 'form'

  %fieldset
    %legend Other options
    .links
      = link_to 'Back to list', privacies_path, :class => 'btn black'
