.Home
{
    .body
    {
        background: transparent;
    }

    header
    {
        .logo {
            margin: 120px auto;
            width: 708px;
            height: 339px;
            background: url( 'dub-logo-home.png' ) no-repeat top left transparent;
        }
    }
}
