$environment    : 'jit';
$cdn_path       : 'http://cdn.gaikai.com/';
$cdn            : $cdn_path + $environment + '/gaikai-website/';
$blue           : #59B7FF;
$text           : #33333A;
$grey           : #666;
$white          : #FFF;
$black          : #000;
$lightgrey      : #999;
$lightergrey    : #DCDCDC;
