<section class="body">
    <section class="content-container interior">
        <div class="content-media">
            <div class="title-container">
                <div class="title">MEDIA</div>
            </div>
            <div class="text-container">
                <h4>Visuals on the road.</h4>
            </div>
            <div class="media-content">
                <div class="left-column">
                    <iframe src="http://player.vimeo.com/video/27974233?portrait=0" width="745" height="348" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
                    <div class="frame"></div>
                </div>
                <div class="right-column">
                    <ul>
                      <li><a href="#"><img src="assets/media-thumb1.png" /></a></li>
                      <li><a href="#"><img src="assets/media-thumb2.png" /></a></li>
                      <li><a href="#"><img src="assets/media-thumb3.png" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>