%section.body
  %section.content-container.interior
    .content-media
      .title-container
        .title MEDIA
      .text-container
        %h4 Visuals on the road.
      .media-content
        .left-column
          %iframe{:allowFullScreen => "", :frameborder => "0", :height => "348", :src => "http://player.vimeo.com/video/27974233?portrait=0", :webkitAllowFullScreen => "", :width => "745"}
          .frame
        .right-column
          %ul
            %li
              %a{:href => "#"}
                %img{:src => "assets/media-thumb1.png"}/
            %li
              %a{:href => "#"}
                %img{:src => "assets/media-thumb2.png"}/
            %li
              %a{:href => "#"}
                %img{:src => "assets/media-thumb3.png"}/
