.title Media
.sub-title Visuals on the road.
.container
  .left-column
    - if @media.length > 1
      %div.video-title= @media.first.title
      %iframe{:allowFullScreen => "", :frameborder => "0", :height => "348", :src => "#{@media.first.video_url}", :webkitAllowFullScreen => "", :width => "700", :id => 'video_player'}
    - else
      %div No media has been added yet.
  .right-column
    %ul.thumbs
      - @media.each do |media|
        %li
          %a{:href => "#", :rel => media.video_url, :title => media.title}
            -if media.thumbnail.url().nil?
              %th= media.thumbnail.url()
            -else
              %th= image_tag media.thumbnail.url()