.title Media
.sub-title Visuals on the road.
.container
  .left-column
    %iframe{:allowFullScreen => "", :frameborder => "0", :height => "348", :src => "http://player.vimeo.com/video/27974233?portrait=0", :webkitAllowFullScreen => "", :width => "700"}
  .right-column
    %ul
      %li
        %a{:href => "#"}
          %img{:src => "assets/media-thumb1.png"}/
      %li
        %a{:href => "#"}
          %img{:src => "assets/media-thumb2.png"}/
      %li
        %a{:href => "#"}
          %img{:src => "assets/media-thumb3.png"}/