.title= @refund.title
.text-container
  %fieldset
    %legend Policy Information
    .table
      .field
        %b Content:
        .border.pad.top10
          = @refund.content
      .field.pad.top10
        = link_to 'Edit Content', edit_refund_path(@refund), :class => 'btn orange large pad top10 bottom5'

  %fieldset
    %legend Other options
    .links
      = link_to 'Back to list', refunds_path, :class => 'btn black'
