.title= @page_content.title rescue nil
.sub-title= @page_content.sub_title rescue nil
.small-title= @page_content.page_content.html_safe rescue nil
.clearfix &nbsp;
.text-container
  %fieldset
    %legend Message Info
    = render :partial => 'form'