%section.body
  %section.content-container.interior
    .content-contact
      .title-container
        .title CONTACT
      .text-container
        %h4 Have questions about DUB LEDS?
        %p Use the form below to contact us, and we'll get back to you as soon as possible.
      = render :partial => 'form'