<section class="body">
    <section class="content-container interior">
        <div class="content-contact">
            <div class="title-container">
                <div class="title">CONTACT</div>
            </div>
            <div class="text-container">
                <h4>Have questions about DUB LEDS?</h4>
                <p>Use the form below to contact us, and we'll get back to you as soon as possible.</p>
            </div>
            <div class="contact-form">
                <div class="left-column">
                    <div class="field">
                       <label>Name</label>
                       <input type="text">
                    </div>
                    <div class="field">
                       <label>Email Address</label>
                       <input type="text">
                    </div>
                    <div class="field-select">
                       <label>Subject</label>
                       <select>
                          <option value="general_inquiry">General Inqury</option>
                          <option value="business_inquiry">Business Inquiry</option>
                          <option value="comment">Comment</option>
                       </select>
                    </div>
                </div>
                <div class="right-column">
                    <div class="field">
                       <label>Message</label>
                       <textarea></textarea>
                    </div>
                    <div class="send-button">
                        <div class="send"><a href="#">Send</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>