.title Contact
.sub-title Have questions about DUB LEDS?
.small-title
  Use the form below to contact us or email us at:
  %a{ :href => 'mailto:info@dubleds.com?subject=General Inquiry', :class => 'fade' } info@dubleds.com
  and we'll get back to you as soon as possible.
.clearfix &nbsp;
.text-container
  %fieldset
    %legend Message Info
    = render :partial => 'form'