.text-container
  %h4 Have questions about DUB LEDS?
  %p 
    Use the form below to contact us or email us at: 
    %a{:href => 'mailto:info@dubleds.com?subject=General Inquiry'} info@dubleds.com
    and we'll get back to you as soon as possible.
= render :partial => 'form'