.Home
{
    .body
    {
        background: none;
    }

    header
    {
        .logo {
            margin: 120px auto;
            width: 708px;
            height: 339px;
            background: url( 'dub-logo-home.png' ) no-repeat top left transparent;
        }
    }
}

.Generator
{
    .content-container
    {
        padding: 0px 0px 10px 0px;

        &.interior
        {
            //background: url( 'content-generator.png' ) no-repeat top center transparent;
            background: none;
            height: 534px;
        }
    }
}

.Contact
{
    .content-container
    {
        padding: 0px 0px 10px 0px;

        &.interior
        {
            //background: url( 'content-contact.png' ) no-repeat top center transparent;
            background: none;
            height: 532px;
        }
    }
}

.Order
{
    .content-container
    {
        padding: 0px 0px 10px 0px;

        &.interior
        {
            background: url( 'content-order.png' ) no-repeat top center transparent;
            height: 533px;
        }
    }
}

.Media
{
    .content-container
    {
        padding: 0px 0px 10px 0px;

        &.interior
        {
            //background: url( 'content-media.png' ) no-repeat top center transparent;
            background: none;
            height: 532px;
        }
    }
}

.Technology
{
    .content-container
    {
        padding: 0px 0px 10px 0px;

        &.interior
        {
            //background: url( 'content-technology.png' ) no-repeat top center transparent;
            background: none;
            height: 533px;
        }
    }
}