// Place all the styles related to the Media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-privacies
{
    margin: 0px auto;
    width: 980px;
    height: auto;

    .title-container
    {
        width: auto;
        height: auto;
        display: block;

        .title
        {
            margin: 20px 0px 0px -16px;
        }
    }

    .text-container
    {
        clear: both;
        text-shadow: 0px 1px 2px #333;
        color: #fafafa;
        margin: 0px 0px 20px 0px;

        h4
        {
            font-size: 22px;
            padding: 0px 0px 10px 0px;
            font-family: EurostileMed, Helvetica, Arial, sans-serif;
            font-weight: 700;
        }
    }

    .media-content
    {
        clear: both;
        padding: 17px 0px 0px 0px;

        .left-column
        {
            width: 745px;
            height: auto;
            float: left;

            iframe
            {
                position: relative;
                float: left;
                border: 1px solid #2d2d2d;
            }
        }

        .right-column
        {
            width: 221px;
            height: auto;
            float: right;

            ul
            {
                margin: 0px;
                padding: 0px;
                width: auto;
                height: auto;

                li
                {
                    padding: 0px 0px 12px 0px;
                    list-style-type: none;
                }
            }
        }
    }
}