/
  _  _  _  _     _            _  _  _  _  _              _              _  _  _  _  _  _  _  _  _       _  _  _  _
  (_)(_)(_)(_)   (_)          (_)(_)(_)(_)(_) _          (_)            (_)(_)(_)(_)(_)(_)(_)(_)(_)    _(_)(_)(_)(_)_
  (_)      (_)_ (_)          (_) (_)        (_)         (_)            (_)             (_)      (_)_ (_)          (_)
  (_)        (_)(_)          (_) (_) _  _  _(_)         (_)            (_) _  _        (_)        (_)(_)_  _  _  _
  (_)        (_)(_)          (_) (_)(_)(_)(_)_          (_)            (_)(_)(_)       (_)        (_)  (_)(_)(_)(_)_
  (_)       _(_)(_)          (_) (_)        (_)         (_)            (_)             (_)       _(_) _           (_)
  (_)_  _  (_)  (_)_  _  _  _(_) (_)_  _  _ (_)         (_) _  _  _  _ (_) _  _  _  _  (_)_  _  (_)  (_)_  _  _  _(_)
  (_)(_)(_)(_)     (_)(_)(_)(_)  (_)(_)(_)(_)            (_)(_)(_)(_)(_)(_)(_)(_)(_)(_)(_)(_)(_)(_)     (_)(_)(_)(_)

%title DUB LEDS

%meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}
%meta{:content => "width=980; maximum-scale=1.0;", :name => "viewport"}/
%meta{:content => "index,follow", :name => "robots"}/
%meta{:content => "noodp,noydir", :name => "robots"}/
%meta{:content => "DUB LED'S &copy; #{@year} All Rights Reserved", :name => "copyright"}/
/ <link rel="canonical" href="<?php echo $_SERVER['SERVER_NAME'] ?>" />
/ <link rel="shortcut icon" href="<?php echo $this->getThemePath() ?>/favicon.ico" />
/ <link rel="apple-touch-icon" href="<?php echo $this->getThemePath() ?>/apple-touch-icon.png" />
= stylesheet_link_tag "application"
= javascript_include_tag "application"
= csrf_meta_tags
