.title Store
.sub-title Choose from our selection of rims
.container
  %fieldset
    %legend Product Catalog
    .table
      %div{"data-hook" => "homepage_products"}
        = render :partial => 'spree/shared/products', :locals => { :products => @products }

  %fieldset
    %legend Categories
    .table
      %div{"data-hook" => "homepage_sidebar_navigation"}
        = render :partial => 'spree/shared/taxonomies'